[2018-11-10 20:55] NickSchimek opened #6 "Create a record parser"
Build a parser that collects all the data from the  search results page on OJCIN that builds a list of cases. Each row in the results page would be a case.

[2018-11-10 20:57] NickSchimek opened #7 "Create a case parser"
Build a parser that returns a list of charges for a case from the case detail page.

[2018-11-10 20:57] PK1210 commented on #6
Can I work on this??

[2018-11-10 21:02] PK1210 commented on #7
Can I have it ?

[2018-11-10 21:04] NickSchimek opened #8 "Epic: Search if a person has eligible expungeable records"
As a user
I would like to enter in a search name and/or date of birth.
so that I can see a list of eligible and non-eligible expungeable records.

Parent of #6, Parent of #7, Parent of #9, Parent of #10

[2018-11-10 21:14] NickSchimek opened #9 "Automate expunge decision"
Build a tool that will analyze each charge and decide if it can be expunged

[2018-11-10 21:21] NickSchimek opened #10 "Create database objects"

[2018-11-10 21:25] NickSchimek opened #11 "Automate navigation of the site"
Child of #8

[2018-11-15 04:07] NickSchimek opened #12 "Cannot install the itsdangerous dependency"
## Description
When running `pipenv install` the following error occurs.
`Could not find a version that satisfies the requirement itsdangerous==1.0.0`

### Possible fix
Update to the latest version

[2018-11-17 07:05] NickSchimek opened #15 "Configure integrated tests"
Set up CI along with a testing framework and directory

[2018-11-19 06:09] #15 closed

[2018-11-24 05:02] NickSchimek opened #17 "Create parser to pull valid params from search page"
There are a few params that are sent back in the response when visiting navigating to the search. Need to retrieve those params in order to perform a search.
child of #11

[2018-11-28 16:49] #6 closed

[2018-11-28 17:08] #17 closed

[2018-11-28 20:13] NickSchimek opened #22 "Add error notifications in the crawler"
The parsers have methods that will run when an error is encountered. These methods need to be updated to log the error and notify the user.

Files to be updated:

- [ ] [src/backend/expungeservice/parsers/record_parser.py#L53](https://github.com/CodeForPortland/recordexpungPDX/blob/master/src/backend/expungeservice/parsers/record_parser.py#L53)
- [ ] [src/backend/expungeservice/parsers/param_parse

[2018-11-29 02:52] cameron2018 opened #23 "test issue please ignore"
testing

[2018-11-29 02:54] #23 closed

[2018-11-29 03:16] a-ilango opened #25 "Sync parser and analyzer data classes"
The parser has some data classes (e.g. Case) which are also duplicated in analyzer. Sync the two so that analyzer can understand objects generated by parser.

OR

Have the main app convert from one to another. The analyzer has predefined enums defined for some of the data types which basically stems from the expunge analysis flowchart while the parser objects are likely to have strings as types mo

[2018-11-29 03:17] a-ilango opened #26 "Implement remaining rules in analyzer"
The analyzer has a few rules setup. Implement the rest.

Child of #9

[2018-11-29 03:20] a-ilango opened #27 "Add main backend logic"
This would probably implement the logic when user clicks "Search".

This should invoke the crawler/parser to get the data for given input (client name, dob), then call the analyzer, get the results and store it in database.

[2018-11-29 04:59] NickSchimek commented on #22
@cameron2018 This issue should not be closed. It needs to be at some point in the future.

[2018-12-01 00:12] rdev0rigin opened #28 "Create Login Form"
Build react components that are reusable for building forms and provide form validation configurations.

[2018-12-01 00:19] rdev0rigin opened #29 "Create A Footer Component"
Build a footer component that provides a copyright and terms link.

[2018-12-01 01:58] rdev0rigin commented on #28
EDIT: Changed this task to building a static login form.

[2018-12-01 02:01] rdev0rigin commented on #28
![Screen Shot 2018-11-30 at 6.00.13 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5bbec934e590860012d687a6/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b76226457f36b7191a37ef1122b4f5e5c5ecc3c4a4356bcbbd671f3e57862804e0ebf84690a27c53915a5ee8b4cbc01bb258a498ce2bbdc1ad2f42f67b6d5db1063474f4dcbed5727a19041c95df248e74f5ca2153e6ae1722431.png)

[2018-12-01 07:30] rdev0rigin commented on #29
Going to merge this with the open [PR-30](https://github.com/CodeForPortland/recordexpungPDX/pull/30)

[2018-12-01 19:01] rdev0rigin opened #31 "Refactor front end to Tachyon theme"
Replace Bootstrap with Tachyon and implement an IA that provides modular and global scopes. Also use BEM naming conventions for class(Names).

[2018-12-01 19:14] hmarcks commented on #29
FYI I hid some footer markup in src/_frnt/webapp/index.html

`    <footer class="pv6 black-50">
      <div class="mw8 ph2 center">
        <p class="f6"><a class="link underline hover-blue" href="#">Terms of use</a></p>
      </div>
    </footer>`

[2018-12-01 23:56] rdev0rigin commented on #31
I just got done refactoring bootstrap to tachyons, and I like the idea of an icon system. Sprites work and with react we can just store a svg element too .

[2018-12-02 05:10] rdev0rigin opened #32 "Build Icon Component"
Create a reusable icon component in ReactJS.

~~We are no longer using React, so we'd need a new way to insert inline svg.~~

~~This is low priority as we can use font icons for now, but inline svg is ideal.~~

Here's relevant article: https://css-tricks.com/pretty-good-svg-icon-system/

[2018-12-02 05:43] rdev0rigin commented on #32
WIP, working on a component that can be used to insert an Icon or SVG...

[code]

[2018-12-05 06:20] hmarcks commented on #32
@rdev0rigin dope, thanks! Do you think this should be imported globally or on individual components/views? I would lean towards globally for simplicity if that seems reasonable.

[2018-12-05 16:34] NickSchimek opened #33 "Create crawler"
The crawler will accept search terms and login credentials to login & navigate the site using the parsers to scrape payloads required to crawl the site and to extract data from the search results page and each associated case page.

Child of #8

[2018-12-05 16:35] NickSchimek commented on #11
whoops duplicate issue. See issue #33

[2018-12-05 16:35] #11 closed

[2018-12-06 10:00] NickSchimek opened #34 "Do not parse charges on Record parser"
## Context
The record parser extracts the cases from the search results page. It also extracts the charges associated to the case, but this is not necessary since the charges can be extracted from the case details page in more detail.

### Tasks

- [ ] Update tests to check the parser skips the charge column.
- [ ] Remove the sections responsible for parsing the charge columns for each case.
- [ ]

[2018-12-13 02:48] #7 closed

[2018-12-13 03:07] quarterback opened #36 "Setup hosting environment for prototype"
We'll need a dev environment for the prototype of this application.

### This task is done when...
 - [ ] identify the hosting environment (AWS, et. al.)
 - [ ] Setup environment

[2018-12-13 03:09] quarterback opened #37 "Build a project plan with milestones"
Partner requests a project roadmap with timelines for deliverables.

Describe the task here, including any supplemental information.
Tag yourself, or whoever is responsible for it.

### This task is done when...
 - [ ] a project plan is developed and team syncs on deliverables
 - [ ] plan is shared with partner agency

[2018-12-13 03:10] quarterback opened #38 "Build project wiki on github"
The project wiki on github provides external users with documentation about what our task is, what we're doing and ensures continuity when the project is handed off.

Describe the task here, including any supplemental information.
Tag yourself, or whoever is responsible for it.

### This task is done when...
 - [ ] build out the project wiki

[2018-12-13 03:13] quarterback opened #39 "Usability testing milestone"
Once we have a prototype, we'll need an entire sprint focused around usability testing. Without testing users on the experience, we'll not be sure how to iterate on the existing design and validate our assumptions.

This is a milestone (epic) issue that will include all of the tasks for usability testing.

[2018-12-14 06:02] cameron2018 opened #40 "type eligibility list interface"
I am currently hard coding a list of crimes that are ineligible for expungement (List A, List B, Etc.), however I get the feeling that maybe this list should be stored in the database and have some sort of interface so the public defenders office can view it and/or modify it as necessary.

I imagine that these lists don't change very often, but i'd probably want this feature if i was them.

[2018-12-15 05:43] NickSchimek commented on #40
Let's take a look at this when we pair next week.

[2018-12-15 06:00] hmarcks commented on #40
I think a UI to make changes would be really convenient, but like you mentioned I don't think these rules will change much. I asked Michael about this a while ago and I think he said the same thing, he said getting in touch with a dev to make a change would be fine. But if it's relatively quick to implement, maybe it's worth it.

Also, it might be useful to have a UI that lists all the rules to qu

[2018-12-19 07:00] #31 closed

[2018-12-19 07:00] #29 closed

[2018-12-19 07:01] #28 closed

[2018-12-29 14:41] a-ilango commented on #40
The analyzer would output list of rules (as strings) that were checked and their result. So we could do it display it for every analysis if needed.

[2019-01-03 03:30] erikjasso opened #42 "Figure out user authentication"

[2019-01-03 03:30] erikjasso opened #43 "Containerize Nginx"
Make  a Docker container for the webserver. The weberver will:

- [x] - serve the React application
- [x] - route requests to the Flask service
Involves:
- [x] - writing an Nginx config file `config/nginx/nginx.conf` with static route to the web app and routes to the Flask services
- [ ] - configuring Nginx to use HTTPS
- [x] - adding a stanza for the web server to `docker-compose.yml`
- [x] - add

[2019-01-03 03:31] erikjasso opened #44 "Containerize Flask app"
Build a Docker container for our Flask application. This container will run the Python/Flask code.

This involves:
- adding a Docker file to `src/backend/expungeservice`
- adding a stanza to `docker-compose.yml`
- adding targets to `Makefile` for building the image, starting and stopping the container (see how the database container is done)
- flesh out `src/backend/expungeservice/wsgi.py`
- pick

[2019-01-03 03:31] erikjasso opened #45 "Build React app into webserver container"
Build the webapp into a Docker volume used by the webserver container. Write a Make target to control that process

See issue #43

[2019-01-03 03:34] erikjasso opened #46 "Endpoint: registration & login"
Write an endpoint to log the user into the internal website. Take the user's credentials, validate against information stored in the database, and return a token.

This endpoint should handle POST, with the body containing username and password in JSON:

    {
        "username": "<USERNAME>",
        "passowrd": "<PASSWORD>"
    }

See issue #42

[2019-01-03 03:35] erikjasso opened #47 "Endpoint: /api/users/"
Endpoint for making and getting users. Endpoint should handle POST and GET requests.

`POST /api/users/` to create a user:

    {
        "username": "<USERNAME>",
        "email": "<EMAIL>",
        "admin": "<TRUE|FALSE">
    }

`admin` is optional and will default to False

`GET /api/users/USER_ID` to get a user

The `GET` response is TBD but will include some set of columns in the `users` tabl

[2019-01-03 03:36] erikjasso opened #48 "Endpoint: /api/search"
Endpoint for searching the remote site. The web app will `POST` to this endpoint with search params in the body, and the endpoint will make a request of the remote site.

Data format TBD.

[2019-01-03 03:37] erikjasso opened #49 "Endpoint: /api/stats"
Endpoint for reporting on system statistics such as number of searches done, number of records expunged, and anything else we think is interesting

[2019-01-03 04:09] erikjasso opened #50 "Update README for installing Python 3.7"
Need instructions for Mac and Linux

[2019-01-04 18:04] erikjasso opened #51 "Update database schema w/suggestions from Tim"
Tim made some suggestions Jan 2 about our users table. He recommends moving the columns related to authentication to a separate table.

[2019-01-05 03:54] cameron2018 commented on #26
i think ive done them all , but there is still some things that need to be worked out, its in my rapsheetanalyzer branch on my fork of the repo

[2019-01-05 03:55] cameron2018 commented on #26
my functions is_crime_marijuana_list and is_charge_PCS_schedule_1 dont work yet

[2019-01-05 07:55] cameron2018 commented on #50
it appears that running "brew install python3" installs python 3.7.2 it on my mac, but it was already installed. it would be cool to verify that this works.

[2019-01-05 08:51] cameron2018 commented on #50
i find terrible non working install instructions on github all the time. it would be cool if we can test this. perhaps one of the new people?

[2019-01-17 03:48] hmarcks opened #53 "Account HTML template"
Create view in HTML / CSS for the Account view.

This is very similar to the "Add user" view.

Wireframes: https://marvelapp.com/644d2f9/screen/50214083
Design system: http://dev.huntermarcks.net/design-system

Will probably want to build in the prototype for now. You can fork this repo: https://github.com/hmarcks/expunge-pdx-frontend

[2019-01-17 03:56] hmarcks opened #54 "Add user view"
Create view in HTML / CSS for adding a new user

Wireframes: https://marvelapp.com/644d2f9/screen/50214073
Design system: http://dev.huntermarcks.net/design-system

Will probably want to build in the prototype for now. You can fork this repo: https://github.com/hmarcks/expunge-pdx-frontend

[2019-01-17 04:57] erikjasso commented on #45
Ask the front-end devs what they are using to build the React app

[2019-01-17 05:03] erikjasso commented on #46
See `src/backend/expungeservice/endpoints/hello.py` as an example of a Flask endpoint

[2019-01-17 05:10] erikjasso commented on #47
See `src/backend/expungeservice/endpoints/hello.py` for an example of a Flask endpoint

[2019-01-17 05:11] erikjasso commented on #48
See `src/backend/expungeservice/endpoints/hello.py` for an example of a Flask endpoint

[2019-01-17 05:11] erikjasso commented on #49
See `src/backend/expungeservice/endpoints/hello.py` for an example of a Flask endpoint

[2019-01-17 05:12] erikjasso commented on #49
This endpoint could also return data for displaying in a chart

[2019-01-17 05:36] hmarcks commented on #51
Just noting @htharker42 mentioned tonight that he may be able to help with auth

[2019-01-17 05:58] htharker42 commented on #51
Yup, just pulled it down.

On Wed, Jan 16, 2019, 9:36 PM Hunter Marcks <notifications@github.com wrote:

[2019-01-20 22:37] cameron2018 commented on #50
I just tested "sudo apt-get install python3.7 -y" on my ubuntu 18.04 server and it works just fine

[2019-01-22 06:27] NickSchimek opened #58 "CaseParser is now crashing when parsing case 74 for J.D."
## Description
The Case Parser is now crashing on a case it had previously run through without issue.

[2019-01-23 21:00] #51 closed

[2019-01-24 06:55] NickSchimek commented on #40
I don't think we did talk about this. Our main goal is to deliver a minimal viable product that the client can use and give us feedback on. I too think this is a great idea, but it's not what the client is asking for at this point in time. The first step is to build the logic for analyzing a record, after that we can make iterative improvements based on the clients feedback. Will close this for no

[2019-01-24 06:55] #40 closed

[2019-01-24 07:05] NickSchimek opened #60 "statute should be normalized before persisting"
## Description
Currently the charge class is initialized with a statute with whatever string value is passed to it. The Oregon e-courts website displays statutes in a variety of representations. A statute may be 6, 7, or 8 characters long, and may or may not contain decimal points, parenthesis, and other separators.

Have the charge initializer call a method to normalize the statute so that only a

[2019-01-29 18:45] a-ilango commented on #46
I'm going to take a stab at this.

[2019-01-30 04:42] erikjasso opened #62 "Fix errors in auth table"
The `auth` table has an extra comma and is missing a semicolon.

[2019-01-31 06:25] hmarcks opened #64 "Search component integration"
Create a component that allows you to search records and return results.

States:
* Empty search form
* Validations on search form
  * All search fields are required.
  * The date format must be MM/DD/YYYY.
  * Technical error, please try again in a few minutes.
* Loading
* No records found
* Search results
  * See mockup below for details

HTML to use: https://github.com/hmarcks/expunge-pdx-front

[2019-01-31 09:06] #58 closed

[2019-01-31 09:07] #60 closed

[2019-02-01 19:05] josephhess opened #65 "implement views as react components"

[2019-02-13 04:51] erikjasso opened #67 "Class for connecting to database"
Write a Python class for connecting to a Postgres database. Constructor should take host, port, name, username, and password and should expose connection and cursor objects. Finally the module containing the class should have a function for getting a connection. Usage should be:

(in context of HTTP request, such as a `GET` or `POST` handler):

    import database
    g.database = database.connect

[2019-02-14 03:31] maxkwallace commented on #50
I used the instructions from this answer https://askubuntu.com/a/1086830/219582 --

    sudo apt-get update && sudo apt-get upgrade
    sudo apt-get install python3.7

which seemed to work fine.

[2019-02-14 03:46] #54 closed

[2019-02-14 04:36] erikjasso opened #68 "Re-visit the system design doc"
The design doc is out-of-sync wrt issues logged since and subsequent discussions. We should sync up:

- endpoint names

- query parameters: what filters are needed?

- POST bodies: what does the JSON sent to the server look like?

- responses: what does the JSON returned by the server look like?

- headers: what headers does the API require?

- status codes: what status codes do endpoints return?

[2019-02-22 01:44] NickSchimek opened #70 "refactor case parser"
The case parser could be refactored to a state design pattern.

[2019-02-22 03:40] NickSchimek opened #72 "Update case parser to check for probation information"
The case parser also needs to collect information regarding probation violations. Update case parser to check if probation was revoked.
Use the test fixture in: https://github.com/codeforpdx/recordexpungPDX/blob/master/src/backend/tests/fixtures/case_details.py#L639

### This task is done when...
 - [ ] Tests exists for new functionality
 - [ ] Case has a method Revoked that it responds to
 - [ ]

[2019-03-13 23:06] erikjasso commented on #44
Working on this

[2019-03-14 00:35] maxkwallace commented on #45
@erikjasso right now the frontend is set up to use the create-react-app defaults (Webpack) to do builds and I don't see a need to change that in the future. You can do a build in that directory with the command `npm run build` and it looks like this:

[code]

[2019-03-14 00:40] maxkwallace commented on #65
@josephhess Hey! I'm not trying to nag, just hoping to understand where the project is and what tasks are available for people to work on. How's this issue going, and do you have any in-progress code you can push up in a branch? If you're working on this I want to make sure that any changes I make in the frontend code aren't going to conflict with or duplicate what you're already working on.

[2019-03-14 00:42] maxkwallace commented on #64
@josephhess Hey! (Sorry, same comment as in the other issue.) I'm not trying to nag, just hoping to understand where the project is and what tasks are available for people to work on. How's this issue going, and do you have any in-progress code you can push up in a branch? If you're working on this I want to make sure that any changes I make in the frontend code aren't going to conflict with or du

[2019-03-14 00:43] maxkwallace commented on #62
@erikjasso it looks like this was addressed in #63 . Can we close this issue?

[2019-03-14 02:04] maxkwallace commented on #32
@rdev0rigin Hey! I'm not trying to nag, just hoping to understand where the project is and what tasks are available for people to work on. How's this issue going? I took a look at the code you pushed up. What is the plan for finishing the Icon Component and how will it be used in the app?

If you're working on this I want to make sure that any changes I make in the frontend code aren't going to co

[2019-03-14 02:32] erikjasso commented on #62
Resolved by #63. Closing.

[2019-03-14 02:32] #62 closed

[2019-03-14 02:58] maxkwallace opened #73 "Add info on setting up the frontend to the README.md"
The README.md includes info on setting up and running the backend in development. Here is an excerpt:

### This task is done when:

The README.md includes instructions on setting up the frontend in development (installing npm, `npm install`, etc.) and running the development server with `npm run start`

[2019-03-14 03:04] maxkwallace opened #74 "Update name of analysis table to "analyses" to match pluralization in other tables"
Except for `auth`, the other tables in `config/postgres/initdb/scripts/create-tables.sql` are pluralized (`users`, `clients`, `rules`, etc.), so the `analysis` table probably should be `analyses` so it matches the other tables.

### This task is done when:
 - The "analysis" table is renamed to "analyses"

[2019-03-14 03:06] maxkwallace commented on #74
@erikjasso `git blame` says you last edited that part of the `create-tables.sql` -- if you disagree with this change please go ahead and close the issue! (Just looking for small beginner-friendly tasks to get people familiar with the PR workflow.)

[2019-03-14 03:23] hmarcks opened #75 "Main login integration"
Integrate the UI to log in to the app, reset password, and set password.

User flow:
![login flow](https://user-images.githubusercontent.com/6887982/54334025-e137cf00-45e1-11e9-9121-5aaa8fabc2a2.png)

Template w/ error messages: http://dev.huntermarcks.net/log-in
Design system: http://dev.huntermarcks.net/design-system

[2019-03-14 03:27] maxkwallace opened #76 "Create an "exercise" task to help new folks get up to speed faster"
In the apps I've worked on before, we always had an exercise task that newcomers would complete just after joining. This task was designed to make sure newcomers could "learn by doing" by making a set of minimal, full-stack changes to give them something to do while they get familiar with the codebase.

If we had an exercise task like this it would also help with triage when lots of new people joi

[2019-03-14 03:36] maxkwallace commented on #53
@drewlearnsabout Hey! I'm not trying to nag, just hoping to understand where the project is and what tasks are available for people to work on. How's this issue going, and do you have any in-progress code you can push up in a branch? If you're working on this I want to make sure that any changes I make in the frontend code aren't going to conflict with or duplicate what you're already working on.

[2019-03-14 03:43] a-ilango commented on #46
Added the following API endpoints in #66
`/api/v0.1/users`: new user registration
`/api/v0.1/auth_token`: authenticate user and return JWT

[2019-03-14 03:46] maxkwallace commented on #45
If we decide to use Hugh's server-rendered HTML (Flask, Jinja) code then we can close this issue since there will be no separate frontend app.

[2019-03-14 03:46] a-ilango opened #77 "Remove username from users table"
Remove username from users table and just use email for user identification. This is to keep things simple.

[2019-03-14 03:51] maxkwallace commented on #26
@cameron2018 Hey Cameron! Just wanted to check in on this issue and see how things are going. Are there changes you still wanted to integrate into this repo?

[2019-03-14 04:45] a-ilango commented on #62
A small trick with Github: if you mention the issue number in the PR in the following way, the issue will automatically get closed when the PR is merged:
Fixes #<issue number>

[2019-03-14 06:58] htharker42 commented on #75
Thanks Hunter!

[2019-03-14 13:51] drewlearnsabout commented on #53
@maxkwallace Hey Max.  No worries, I've been distracted by other things these past few weeks to get it done.  When I was at the meetup yesterday, I was finally able to start getting the markup together, and I'm hoping i can get a draft finished by this month. I'll try to push to the branch soon.

[2019-03-14 17:03] maxkwallace commented on #53
@drewlearnsabout sounds good, thanks for the update! If you push the branch up to this repo (not your own fork) that would be ideal, since it'll be easier for other folks to check out your work that way. If you have anything completed I would say just go ahead and push it up right away-- then post the name of the branch back here.

That way it'll be easy for anyone who comes across the issue to se

[2019-03-14 17:15] hmarcks commented on #53
@maxkwallace this work is actually on a separate repo for now (https://github.com/hmarcks/expunge-pdx-frontend) where we're working on the HTML templates, so @drewlearnsabout you can make a pull request to that repo when you're ready.

Once we have the frontend on this repo set up (I think we're close), we can transfer these templates and css over.

[2019-03-14 17:18] maxkwallace commented on #53
@hmarcks my bad, thanks for the clarification!

[2019-03-14 17:22] hmarcks commented on #53
@maxkwallace no problem, It's kind of a strange process, thanks for checking in on the tickets!

[2019-03-15 00:48] a-ilango commented on #53
I saw this on the front end specific repo:

Just curious. What makes it slow when running it in the main repo? Sorry, I'm not familiar with the front-end.

[2019-03-15 03:18] hmarcks commented on #53
@a-ilango I remember having trouble with my machine getting our repo running locally, might have just been me. But I think the main advantage of keeping it in a separate repo was that I could easily make a github pages site public so I could share the click-through prototype.

[2019-03-15 05:46] a-ilango commented on #53
@hmarcks, thanks for clarifying. I didn't know about github pages before. That's pretty neat!

[2019-03-16 23:47] #70 closed

[2019-03-19 00:19] #73 closed

[2019-03-19 18:37] #74 closed

[2019-03-19 18:38] ash-tamraz commented on #74
[Closed with PR #80](https://github.com/CodeForPortland/recordexpungPDX/pull/80).

[2019-03-19 18:46] ash-tamraz commented on #77
If someone wanted to work on this issue, they would need to remove [this line](https://github.com/CodeForPortland/recordexpungPDX/blob/master/config/postgres/initdb/scripts/create-tables.sql#L8)

[code]
from the `users` table in `config/postgres/initdb/scripts/create-tables.sql`, correct?

[2019-03-25 18:02] erikjasso commented on #77
@ash-tamraz Yes, that is correct.

[2019-03-25 22:48] erikjasso commented on #44
Opened pull request. https://github.com/CodeForPortland/recordexpungPDX/pull/81

[2019-03-27 21:12] hmarcks commented on #32
Since we are no longer going to use React, we would need a new way to insert inline svg icons. We can use font icons for now, so I think this is lower priority. I'm going to move this back to new.

[2019-03-27 21:25] hmarcks commented on #65
I'm going to cancel this since we have a different frontend approach in progress.

[2019-03-27 21:25] #65 closed

[2019-03-27 23:15] hmarcks opened #82 "OECI login component"
Create view for user to log in to OECI (Oregon eCourt Case Information) so that they can search records.

HTML template to transfer: https://github.com/hmarcks/expunge-pdx-frontend/blob/master/index.html
Live template: http://dev.huntermarcks.net
Design system: http://dev.huntermarcks.net/design-system

User flow:
![OECI login flow](https://user-images.githubusercontent.com/6887982/55119747-53afb1

[2019-03-28 02:39] hmarcks commented on #32
So we're back to using React! @rdev0rigin , are you still working on this one?

[2019-03-28 02:40] maxkwallace commented on #64
@josephhess FYI, as far as I'm aware, you haven't responded so I'm going to unassign this from you and open it up to someone else to work on. Thanks!

[2019-03-28 02:44] maxkwallace commented on #34
@nwalton125 Hey! This task hasn't been updated in a few months so I just wanted to check in and see how it's going. Are you still working on this task? If not, or if I don't hear back, I will open it up for someone else to work on.

[2019-03-28 02:46] maxkwallace commented on #26
@cameron2018 Hey there-- haven't heard from you since my last comment two weeks ago so I'm going to unassign this from you and open it up for other people to work on. Thanks!

[2019-03-28 02:48] maxkwallace commented on #25
@cameron2018 Hey! How is this going? Did you have finished work in your fork you wanted to merge in? This issue hasn't been updated in a while so if I don't hear back I'll go ahead and unassign this from you and open it up to someone else to work on.

[2019-03-28 02:49] maxkwallace commented on #9
@cameron2018 @a-ilango are either of you working on this, or should we unassign it and open it up to someone else to work on?

[2019-03-28 02:49] maxkwallace commented on #8
@cameron2018 are you still working on this, or should I unassign it and open it up for someone else to work on?

[2019-03-28 02:58] nwalton125 commented on #34
Hello!

Sorry! I am not, best to open it up for someone else.

On Wed, Mar 27, 2019 at 7:44 PM Max Wallace <notifications@github.com>
wrote:

[2019-03-28 03:11] maxkwallace commented on #42
@a-ilango you are working on this, right? Would be good to assign this issue to yourself if yes. Maybe next meeting we can discuss what the authentication API will look like on the frontend.

[2019-03-28 03:20] maxkwallace opened #83 "Decide how to handle data in the frontend, add data library to project"
We need a structured way to handle backend data in the React app.

This may mean using Redux.

Another option would be to handle data in an ad-hoc way by requesting it as-needed in each Component. Though using Redux seems preferable to this.

There may be other good options I don't know about.

### This task is done when...
 - There is a decision about how to handle data in the React app
 - That d

[2019-03-28 03:25] maxkwallace opened #84 "What is the difference between Inbox and Backlog in the Project?"
Looking at the Project page https://github.com/CodeForPortland/recordexpungPDX/projects/2 I'm not sure what the difference is between the Inbox and Backlog columns. The difference should be clarified and added to the wiki here:

https://github.com/CodeForPortland/recordexpungPDX/wiki/Project-&-Issue-Management

### This task is done when...
 - The wiki page at https://github.com/CodeForPortland/re

[2019-03-28 04:02] maxkwallace opened #85 "Add Header Component that's visible to logged-in users"
See the mockups at http://dev.huntermarcks.net/search/

This task is for implementing the header showing the Record Expunge logo at the top left and the Search, Stats, Admin, Account, and Log Out links on the right. Like the mockup, there should be a white header with a small border / drop shadow on the bottom (see the existing HTML in the mockups).

You will probably want to add a Component in Re

[2019-03-28 04:08] maxkwallace opened #86 "Add "Record Search" box to search page"
See the upper "Record Search" card on http://dev.huntermarcks.net/search/

This task is only to implement a Component that corresponds to the "Record Search" box at the top of the page under the header. The Component should contain the First, Last, and DOB fields as well as the search button. You can add HTML validation using the `<form>` tag.

Do not implement the code to actually process the sea

[2019-03-28 04:12] maxkwallace opened #87 "Add SearchResults Component in React"
See the lower card under "Results for Firstname Lastname" on http://dev.huntermarcks.net/search/

This task is to build a Component that contains the HTML you see in the box with "Results for {firstname lastname}" at the top. This box has a header showing the name of the person searched for, with a variable-length list of results. The results sections should be implemented using one or more separa

[2019-03-28 05:09] maxkwallace commented on #34
@nwalton125 no worries! Thanks for the reply :)

[2019-03-28 05:27] a-ilango commented on #42
Yes, I was working on this. Let me assign it to myself.

Sounds good. It is captured in the design document. We can add missing details if there are any.

[2019-03-28 05:42] maxkwallace commented on #42
@a-ilango ah, great! I forgot about the design document, thank you. I'll take a look again.

[2019-03-28 05:50] a-ilango commented on #9
I believe @NickSchimek is looking into this.

[2019-03-28 05:55] NickSchimek commented on #9
Yes, this is mostly complete. Just need to confirm a few things before finishing it up.

[2019-03-28 23:15] ash-tamraz opened #88 "Automate registering of endpoint routes in expungeservice/app.py"
Currently, when adding endpoints to the backend, routes for the endpoints (found in `src/backend/expungeservice/endpoints/`) must be manually added to the `create_app` method of `src/backend/expungeservice/app.py`, e.g.:

[code]

The goal would be to alter `src/backend/expungeservice/app.py` to search the endpoint directory and register the endpoint routes itself, so that regardless of removals or

[2019-03-28 23:16] ash-tamraz commented on #88
@erikjasso Does this cover all of the issue that you had in mind when we spoke last night about this?

[2019-03-29 00:50] wittejm opened #89 "Data analysis features design"
In the wiki, define and suggest usage statistics and related data we may want to track for analysis.

E.g. historical number of records searched, number of eligible expungements found, etc.

Consider relevant user privacy and security issues.

### This task is done when...
 - A descriptive page added to the wiki
 - Design of data analysis features may be ongoing as a secondary priority in the proj

[2019-03-29 22:45] NickSchimek commented on #34
@maxkwallace I added a temporary fix to this in another commit. It still parses the charges, but it doesn't save the results. We could probably close this issue?
It's not so important, but what I would actually like to see done is a complete re-write or refactor of the record parser so that it is easier to understand. What do you think?

[2019-03-29 22:48] NickSchimek commented on #8
@maxkwallace This will be complete when issue #9 is complete.

[2019-03-29 22:56] erikjasso commented on #88
Yes, that's what I was thinking. Good write-up.

[2019-04-01 22:41] wittejm commented on #89
Here's a brief writeup of data collection concerns. I suggest adding a link in the wiki:
https://docs.google.com/document/d/1_X6RLU9K9_QmPGaheVXu0ZEXPTVCCbSLU-_WEhF7AZo

[2019-04-02 18:26] maxkwallace commented on #34
@NickSchimek sounds good, I'll close the issue.

Regarding the refactor I'd have to read the parser code myself in order to comment. I trust your judgment. There are a lot of factors that go into deciding whether a refactor makes sense but IMO the main ones are (1) whether the code is functioning well now and (2) whether or not it will need to be edited many times in the future.

[2019-04-02 18:26] #34 closed

[2019-04-03 02:47] NickSchimek commented on #34
@maxkwallace yeah, I completely agree. It most likely will not have to be edited in the future, and it currently works so.... It was just something that would be nice, but is not currently necessary.

[2019-04-06 22:37] hmarcks commented on #85
Note that we'll only want the "Stats" and "Admin" items to show for users who have the role of admin. Not sure if that should be included in this task but something to keep in mind.

[2019-04-06 22:57] maxkwallace commented on #85
@hmarcks thanks for adding that detail!

For whoever implements this, my recommendation would be to wait until we have live data coming from the backend before writing code to only show the "Stats" and "Admin" items for admin users. This should just be an "if" in the code that renders the template.

(Independent of that, if we consider the stats info sensitive and is not something we want to expos

[2019-04-07 06:46] hmarcks commented on #86
Here's a good resource for implementing accessible required fields. I'll update the HTML to help support this.

https://developer.paciellogroup.com/blog/2019/02/required-attribute-requirements

[2019-04-07 07:07] hmarcks commented on #84
Here's a proposal, but would love to hear other ideas:
• Change the "Inbox" column name to "Backlog". This will be for issues that aren't ready to be worked on yet or aren't prioritized.
• Change the "Backlog" column name to "Ready to Start". This is for issues that are ready to be worked on.
• Prioritize the most urgent issues at the top of each column.

[2019-04-10 18:04] maxkwallace commented on #84
@hmarcks I'm in favor of that proposal.

[2019-04-11 02:22] maxkwallace opened #90 "Create "Groups" Component for /admin"
This task is to create the Component that's comprised of the top card on the page with the title "Groups", including transferring all the HTML from http://dev.huntermarcks.net/admin.

Mockup:
![admin-groups](https://user-images.githubusercontent.com/6887982/68997688-cef7ea00-086e-11ea-918c-96865189feb5.png)

We don't necessarily need to implement routes and/or URLs for the React app (it can be a "

[2019-04-11 02:35] maxkwallace opened #91 "Create "Users" Component for /admin"
This task is to create the Component that's comprised of the second-from-the-top card on the page with the title "Users", including transferring all the HTML from http://dev.huntermarcks.net/admin.

Wireframes for more context around the whole users flow:
![user-account-wireframe](https://user-images.githubusercontent.com/6887982/69019529-a78c4480-0976-11ea-853d-4c69937e0deb.png)

Accessible valid

[2019-04-11 02:44] maxkwallace commented on #84
Just discussed the following with Hunter, who already updated the column names.

I propose to go and make the following additional changes to finish this issue:
- Go through and organize and prioritize the columns & issues in the columns to the extent possible
- Since-- once a card is in a column, e.g. "in progress", that status will appear on the right side of the issue page-- so some of the labe

[2019-04-11 02:57] maxkwallace commented on #50
Closing this since it doesn't seem urgent and we haven't had any activity in a while. Feel free to reopen if you want to work it!

[2019-04-11 02:57] #50 closed

[2019-04-11 03:00] maxkwallace commented on #26
This task isn't assigned to anyone so I'm assuming no one is working on it, and I'm going to move it back to "Ready to Work".

If you're working on it please assign yourself and move it back to "In Progress" in our Project.

[2019-04-11 03:01] maxkwallace commented on #48
@ash-tamraz noticed this was assigned to you so I assume you're working on it. Moved it to "In Progress", feel free to move it back to "Backlog" and let me know if you think that's more appropriate.

[2019-04-11 03:02] maxkwallace commented on #46
@a-ilango FYI moved this to "In Progress" since it's assigned to you. Let me know if that's not right.

[2019-04-11 03:10] maxkwallace commented on #39
Closing this issue since it hasn't been updated since Dec. To anyone: feel free to reopen it if you want to work on it!

[2019-04-11 03:10] #39 closed

[2019-04-11 03:11] maxkwallace commented on #38
Closing this issue since it hasn't been updated since Dec. To anyone: feel free to reopen it if you want to work on it!

[2019-04-11 03:11] #38 closed

[2019-04-11 03:11] maxkwallace commented on #37
Closing this issue since it hasn't been updated since Dec. To anyone: feel free to reopen it if you want to work on it!

[2019-04-11 03:11] #37 closed

[2019-04-11 03:12] maxkwallace commented on #36
Closing this issue since it hasn't been updated since Dec. To anyone: feel free to reopen it if you want to work on it!

[2019-04-11 03:12] #36 closed

[2019-04-11 03:26] #89 closed

[2019-04-11 04:03] #84 closed

[2019-04-15 23:58] wittejm commented on #43
Given @maxkwallace’s comment in issue #45, is it correct that the nginx server would not need to serve any static content? Meaning there’s no need to set up the additional docker volume?

[2019-04-16 16:39] wittejm commented on #43
I realized that because of the reliance on react knowledge (which I don't have) and that it sounds like some react design questions are still unresolved (like issue #83 ), I should not actually be the one working on this.

[2019-04-16 17:20] erikjasso commented on #45
@maxkwallace I've never used Webpack. What does it do?

[2019-04-16 17:27] erikjasso commented on #43
@wittejm Much of this task of configuring the web server and running it in a Docker container can be done while we figure out how the front-end code and assets are built. In fact this should be orthogonal to React. Independent of which front-end framework we use and how it is built we will still use a web server to serve the static content (as well as route requests of dynamic content to uWSGI). D

[2019-04-16 18:52] wittejm commented on #43
Ok, that partially makes sense. Initially I was misunderstanding the role of the nginx web server and thought it should only reroute http requests directly to the uWSGI server, which doesn't seem right. So, it sounds like instead the nginx configuration needs to expose uWSGI only for requests made by the frontend, which will still behave as though it is accessing a local socket. Is that correct?

[2019-04-16 20:58] erikjasso commented on #43
Right, we'll have a `location` block like that for the static web site and one for the Python API (as well as one or more `server` blocks listening on some port(s)).

Incoming requests will have the base form:

    https://server_name/path

where

    server_name is our domain name when deployed, or localhost/127.0.0.1 during development
    path is a path to some resource (directory, file, or end

[2019-04-16 21:26] wittejm commented on #43
Ok, that helps. I’ll keep poking at this and see if I can get something working. Thanks Erik!

[2019-04-17 15:10] maxkwallace commented on #45
@erikjasso Webpack is a tool that's primarily used to transform Javascript code files on the filesystem (i.e. what we edit in a repo) into static assets, typically and most importantly, one big Javascript file that's the result of bundling together and minifying all the code you need.

[2019-04-17 15:29] maxkwallace commented on #43
@wittejm since you tagged me earlier I'll just jump in and add my $0.02.

Serving static content via nginx is one way to send the frontend code to the user's browser. But it's not the only way and it's not strictly necessary to use static content.

For instance, there could be a method in Flask that responds to all requests to the root URL by returning a string of HTML for the app's homepage. We c

[2019-04-17 17:59] wittejm commented on #43
Cool, thanks for that added context @maxkwallace . A point of confusion I had was believing that html code was still being generated and served by something like a node (and maybe react) process which would be running in the nginx container. Similar to your example where flask responds to requests with an html string, which is the structure that I've worked with in the past when building simple we

[2019-04-17 18:03] maxkwallace commented on #43
@wittejm minor correction: any web pages that are built beforehand are created by Webpack or another build tool. React itself only runs in the user's browser (and generates the HTML they see) after they've downloaded the Javascript asset containing the React code, which must be referenced in a script tag in an HTML page sent by the server.

[2019-04-17 18:18] wittejm commented on #43
@maxkwallace Ah gotcha, thanks.

[2019-04-23 18:47] wittejm commented on #43
I made the listed file changes (except for changes that depend on the https cert) in a new branch on my forked repo, with readme here:
https://github.com/wittejm/recordexpungPDX/blob/nginx-stack-dev/config/nginx/README.md

@erikjasso I have several questions I hope we could look at at the meetup this week, before I file a pull request. The branch includes a lengthy readme of my changes and questio

[2019-04-24 19:57] wittejm commented on #77
This change also requires removing all occurrences of the username field and replacing any occurrences with user email as the login handle. There are instances in the files

src/backend/expungeservice/endpoints/users.py
src/backend/expungeservice/endpoints/auth.py
src/backend/expungeservice/crawler/crawler.py
src/backend/expungeservice/crawler/request.py

along with their test cases and the design

[2019-04-24 20:07] NickSchimek commented on #77
Most applications refer to the variable `username` even when the value being used is an email address. In our case an email address is a username. Username/password combination is needed to login. I suppose the files could be updated to state it's a `user_email`, but that doesn't necessarily convey that the variable is actually a username for login. I suppose the context it's being used in would i

[2019-04-24 20:35] wittejm commented on #77
That makes sense. Though it seems not ideal to have the two fully redundant fields in endpoint data objects. If they're the same value there should only be one field.

I also realized that the occurrences of username crawler.py and request.py actually refer to the Oregon site's login, so would not be affected by this.

[2019-04-24 20:38] NickSchimek commented on #77
Sounds good!

[2019-04-25 16:54] NickSchimek commented on #9
@maxkwallace A PR is coming soon for this

[2019-04-25 19:24] wittejm commented on #67
Possibly naive question: wondering if passing the connection info from outside the wrapper object is the way to go, especially if that information is just getting picked up from env variables or an external file. If the following env variables are already defined,
[code]

then you can get the connection object with
[code]

and no extra arguments. Or else the values could be provided inside the Dat

[2019-04-26 02:30] maxkwallace commented on #67
@wittejm this is a good question about separation of concerns: we need to get the credentials from the environment somewhere, so what part of the code should be responsible for doing that?

AFAIK Erik is currently working on this so I will defer to him for the actual implementation.

But my preference is to use your second approach and pass the credentials in. Environment variables are global vari

[2019-04-26 02:43] a-ilango opened #98 "Add how to start and run the docker containers for various components to Readme"
### This task is done when:
 - Readme is updated with steps to run the containers for various components in the project

[2019-04-26 03:14] #77 closed

[2019-04-26 03:39] ash-tamraz opened #99 "Create class for sanitizing endpoint input"
Create a custom class based on [MethodView](http://flask.pocoo.org/docs/1.0/api/?highlight=methodview#flask.views.MethodView) which checks headers, sanitizes input, other information that is passed to our Flask endpoints.

Some of the endpoints perform the same checks for empty passed parameters: [here in `/api/v0.1/users`](https://github.com/CodeForPortland/recordexpungPDX/blob/master/src/backend

[2019-04-26 04:39] wittejm commented on #43
From a conversation with @maxkwallace I realized that building the web app outside of docker and copying it in to make the docker image is the wrong way to go, and instead the builder should run in the container. I'll change it to that, (and claim the related issue #45 ) and then go ahead with a pull request when the thing works.

[2019-04-26 18:07] NickSchimek opened #100 "Rename test"
## Description

The name of this test implies charges should be assigned. Rename it to something like: 'test it does not assign charges'

### Background information
This test used to checked for assignments, but it was later found to be impractical to assign the charges to the case at the record level parser. It was later tweaked to assign charges to a case at the case level parser.

### This task

[2019-04-26 18:37] NickSchimek opened #101 "Assign balance due to case object"
## Description
Currently the balance due is being parsed by the `case_parser`, and is assigned to the case parser object here: https://github.com/CodeForPortland/recordexpungPDX/blob/master/src/backend/expungeservice/crawler/parsers/case_parser/case_parser.py#L20, however that information is lost as it's not being assigned to the case object by the crawler.

### This task is done when:

- [ ] Crea

[2019-04-26 19:33] ash-tamraz commented on #99
(@wittejm Feel free to remove yourself from this if you change your mind about working on it)

[2019-04-26 19:36] wittejm commented on #99
@ash-tamraz Yea, actually I'll unassign because for now I'm working on building the docker volume to hold the static web content. Which might take a while :)

[2019-04-26 20:36] maxkwallace commented on #43
@wittejm let me know if you run into any issues related to the npm / React side of things! Some quick Googling let me to this article which seems to match our use case:

https://medium.com/thepeaklab/how-to-deploy-a-react-application-to-production-with-docker-multi-stage-builds-4da347f2d681

We are using create-react-app.

[2019-04-26 21:43] wittejm commented on #43
@maxkwallace cool, thanks for the link!

Following @erikjasso 's suggestion of storing static content in a docker volume (mentioned above and in issue #45), I was looking into the idea of having a docker container separate from the web server that would run the build, save the result into the docker volume and then exit. I got a toy version of this working following this stackoverflow post:

https

[2019-04-26 23:26] NickSchimek opened #102 "Create config file to update FE dependencies"
## Use Case
As a maintainer, I would like to have dependabot update the Front End dependencies automatically.

## Description
Dependabot is already installed and the default configuration is to look for python related dependencies. However, if a config file is created we can also use it to update the front end Node dependencies. More info can be found here: https://dependabot.com/docs/config-file/

[2019-05-01 19:13] wittejm commented on #44
@erikjasso  I think the recent update from psycopg version 2.7 to 2.8 by dependabot broke this image build.

According to the doc: http://initd.org/psycopg/docs/faq.html#problems-compiling-and-installing-psycopg2

Version 2.7 included automatic install of a postgres dependency but 2.8 takes that out and the dependency needs to be installed manually to build the package from source.

Alternatively

[2019-05-02 01:00] NickSchimek commented on #44
Yes, I would say that it is the best solution

[2019-05-02 01:55] erikjasso commented on #44
Thanks for digging into this, Jordan. Sounds like you hit on the correct solution.

[2019-05-02 15:13] NickSchimek opened #107 "Update readme to show new url path for recordexpung"
## Description
The upstream remote url needs to be updated on `step 4` under the *Contributing* section.

This is needed due to transferring the repo to the new organizational name.

### This task is done when:

- [ ] The old URL is replaced with the new URL

[2019-05-02 19:57] #107 closed

[2019-05-03 04:14] NickSchimek commented on #10
This was completed in PR #19

[2019-05-03 04:14] #10 closed

[2019-05-03 18:13] wittejm commented on #98
Merged.

[2019-05-03 22:54] wittejm commented on #101
I'd suggest we only add a new test method to check all case balances rather than add one of them into an existing test case that checks for convictions. I guess that means redundantly calling the requests_mocker for that case file, but it seems nice to keep test methods distinct from each other .

[2019-05-03 23:00] NickSchimek commented on #101
Yes, that would be perfect, and would be the best way to go!

[2019-05-03 23:01] NickSchimek commented on #101
Thanks for looking into this @wittejm

[2019-05-04 19:02] wittejm commented on #98
Well I realized there was another doc for this already in the repo at doc/docker_mac.md. So I'm removing from the main README and merging in some of my verbiage there.

[2019-05-07 01:50] #101 closed

[2019-05-09 02:03] maxkwallace commented on #83
Completed via PR #104

[2019-05-09 02:03] #83 closed

[2019-05-09 02:52] maxkwallace commented on #32
Decided 2019-05-08 to close this issue.

[2019-05-09 02:52] #32 closed

[2019-05-09 03:02] maxkwallace commented on #85
Hunter just pointed out to me that this was done in #104. Thanks! Closing this issue.

[2019-05-09 03:02] #85 closed

[2019-05-09 03:10] wittejm opened #115 "Write the function signatures for database operations"
Decide the interface and usage for all ops that touch the database

(rough start)
 - create_user(email, password_hash, admin, [...])
 - check_user(email, password)
 - save_stats(record)

### This task is done when:
 - function signatures agreed upon for calling code (inside endpoints?) and implementation that runs SQL ops.
 - info added to the design doc.

[2019-05-09 03:12] wittejm commented on #115
#### save_stats(record)
record is a Record object, which has a cases field as list of Case objects.

[2019-05-09 03:45] wittejm commented on #115
#### check_user_exists(email)
returns bool

#### create_user( email, admin, hashed_password)’
returns success/fail bool

#### database.check_password_hash( email, hash)
returns true/false # false if user doesn’t exist or wrong password

[2019-05-09 04:00] wittejm opened #118 "Database authorization refactor"
The database is currently with a postgres user-password that is saved in the git repo. This refactor will require the developer to instead define their own password, which will not be checked into the reop.

### This task is done when:
 - password in config/postgres/postgres.env  is replaced with something like "changeme"
 - postgres.env file added to .gitignore
 - existing postgres.env file renam

[2019-05-09 05:02] wittejm commented on #98
The only section missing from this doc is the installation instructions for Windows, which I am not familiar with, so I'm unassigning myself from this task.

[2019-05-09 05:49] a-ilango commented on #98
@wittejm Thanks for adding the documentation! I'm closing this issue since we instructions for Linux and Mac OS should be sufficient for most people. If needed, a new issue can be created to add instructions for Windows.

[2019-05-09 05:49] #98 closed

[2019-05-09 16:35] wittejm opened #119 "Design the data collection for search results and stats reporting"
The app should save some of the user activity and search results so that we can track the app’s overall usage and impact over time.

We'll need to sufficiently anonymize the data which may mean not tracking an individual record as a unit in the database. It is easy to de-anonymize a record based purely on the collection of cases and charges grouped together in that record.

Includes the design for

[2019-05-13 05:23] hmarcks commented on #87
Closing because it's a duplicate of https://github.com/codeforpdx/recordexpungPDX/issues/86

[2019-05-13 05:34] hmarcks opened #122 "Remove React component style sheets"
Remove the component-specific style sheets since we're using Tachyons with some other immutable classes.

For example, /frontend/src/components/footer/styles.scss

http://dev.huntermarcks.net/design-system/#css-framework

[2019-05-13 19:13] #102 closed

[2019-05-14 17:15] maxkwallace commented on #87
@hmarcks I didn't intend for this to be a duplicate. My bad if the issue was confusing.

My intention was for #86 to be only the top card containing the input fields for the search, and this issue to be only the lower card containing the search. These should be separate components in React. Let me know if that doesn't make sense or you think the issues should be structured differently.

[2019-05-14 17:20] hmarcks commented on #87
@maxkwallace gotcha, I was thinking #64 would be the integration work, perhaps these should be combined.

[2019-05-14 17:28] maxkwallace commented on #87
@hmarcks ah, I lost track of #64 , my bad. I was trying to break things down a bit more. For a project like this it's really crucial that each task is super small so no one get stuck waiting for a big chunk of work they have a dependency on.

The way this works with Redux is that the search and results Components actually never communicate directly with each other, which is good, because then they

[2019-05-14 18:17] hmarcks commented on #87
Sounds good to me, thanks @maxkwallace !

[2019-05-16 16:08] NickSchimek opened #138 "Create a Record object"
## Description
Create a Record class in the models directory. This record class will have a data attribute `cases` which will be a list of cases. The record object will be able to respond a `charges` and `total_balance_due` method.

For the charges method it will enumerate through all the cases creating a list of charges to be returned.

For the total_balance_due method it will enumerate through a

[2019-05-16 16:11] NickSchimek commented on #25
This is not needed. The analyzer uses the python objects created by the crawler.

[2019-05-16 16:11] #25 closed

[2019-05-16 16:27] NickSchimek opened #139 "Crawler should return a Record object"
## Description
Currently the crawler returns a RecordParser object. This is not ideal and is confusing to say the least. There is a Record class in the models directory that can be returned instead of a record parser.

More detailed information will come later.

### This task is done when:

- [ ] Crawler returns a Record object

[2019-05-16 19:40] NickSchimek opened #140 "Add test fixture for a case that has a revoked probation"
## Description
A test fixture that contains a revoked probation is needed so that the CaseParser can be updated to collect this information. This information is needed to determine the expungement eligibility for certain charges (I believe class B felonies).

### This task is done when:
Revoked probation test fixture exists

[2019-05-17 05:53] maxkwallace opened #141 "Add linting to frontend React app"
Right now we don't have linting for our frontend / React app which means we end up spending time in PR reviews addressing style issues that the linter could handle automatically. Adding a linter will speed up development time for everyone.

create-react-app comes with eslint but since we are using Typescript, and we need a Typescript-compatible linter, this will be a bit more complicated. Looks li

[2019-05-19 05:11] hmarcks opened #144 "What kind of terms or privacy policy do we need?"
Talk to Michael

[2019-05-23 03:43] #8 closed

[2019-05-23 03:43] #9 closed

[2019-05-23 08:20] #140 closed

[2019-05-25 16:28] NickSchimek opened #150 "Return empty string for section method"
## Description
This method should return an empty string instead of None when the section cannot be determined.
https://github.com/codeforpdx/recordexpungPDX/blob/master/src/backend/expungeservice/models/charge.py#L95
Having None can throw an exception here when checking if the section contains a digit.
https://github.com/codeforpdx/recordexpungPDX/blob/master/src/backend/expungeservice/models/cha

[2019-05-29 04:36] #115 closed

[2019-06-03 19:06] wittejm opened #164 "Simplify docker expungeservice setup configuration"
We're currently manually listing the submodules of expungeservice in the setup.py used by Docker to generate the expungeservice image container, here:

https://github.com/codeforpdx/recordexpungPDX/blob/master/src/backend/expungeservice/setup.py

But I found that the image build and testing works equally well if we don't include that list of submodules at all, namely define
`packages=[]`

Without

[2019-06-03 19:08] wittejm commented on #164
Tagging @erikjasso  who wrote the original file and @NickSchimek who asked about removing the need to manually update the packages list.

[2019-06-04 16:54] wittejm opened #165 "Add docker stack to Travis-CI build"
Testing the docker stack is a necessary add to the testing pipeline and has core support on Travic-CI:
https://docs.travis-ci.com/user/docker

The database test cases need to have the docker database service running in order to pass. Here's a resource on running tests cases from outside a running docker container:
https://mike42.me/blog/how-to-set-up-docker-containers-in-travis-ci

I think also th

[2019-06-05 04:16] NickSchimek opened #167 "Birth year should default to an empty string"
## Description
Birth year is not present on all case files and we're seeing some failures here: https://github.com/codeforpdx/recordexpungPDX/blob/master/src/backend/expungeservice/models/case.py#L7

Need to update this so that Birth year defaults to an empty string when it is not present.

### This task is done when:
 - Create test case to expose bug (probably two tests: unit and functional)
 - I

[2019-06-05 04:23] NickSchimek opened #168 "Traffic tickets should not be expungeable"
## Description
Need to be able to distinguish parking tickets. ()
Was informed that if the level is violation unclassified then it's a parking ticket, but I'm afraid this may be prone to error. Need to see if we can get a list of statutes or chapter they fall under.

### This task is done when:
 - Create test for parking ticket
 - Implement fix

[2019-06-05 04:26] NickSchimek commented on #168
Traffic tickets do not affect time eligibility

[2019-06-05 04:31] NickSchimek opened #169 "Add "the older" marijuana ineligible statute #'s that were revised"
## Description
We're currently checking statute numbers for marijuana charges, however there are some statutes that are no longer used that need to be added to the list since statute numbers do not get updated on the OJCIN database when they're revised.

Need to get list from Michael or research on https://www.oregonlaws.org

### This task is done when:
 - Add unit tests
 - Add remaining statute n

[2019-06-05 04:47] NickSchimek commented on #168
According to https://www.oregonlaws.org/ors/153.015 it seems checking for `violation unclassified` can be prone to error, but it may be correct more often than wrong. Let's check with Michael for statutes or chapters to check for that can be used instead.

[2019-06-05 17:19] hmarcks commented on #167
@NickSchimek does this affect searching for cases if we require date of birth?

For example, if a person has a single case with an empty birth year, would you not be able to find that because we require date of birth?

Or is the date of birth stored separately from the cases?

[2019-06-05 18:55] NickSchimek commented on #167
@hmarcks That's a good question... One I don't have an answer for. Do you want to ask Michael about it?

[2019-06-05 23:13] hmarcks commented on #167
@NickSchimek are we only looking at this birth_year attribute on the cases when performing a search?

Looks like Michael didn't get transferred to this github project, I'll ask via slack if he ever searches or will anticipate searching without date of birth.

[2019-06-05 23:44] wittejm commented on #165
I'm looking into the possibility of caching Docker layers to speed up the CI build, since build time has gone from ~1 to ~4 minutes. It doesn't look like there is a great solution.

This thread has useful discussion about the problem:
https://github.com/travis-ci/travis-ci/issues/5358#issuecomment-195226941

This guide addresses a related problem, but only applies to caching completed images: Name

[2019-06-06 02:27] maxkwallace commented on #141
Completed with #147

[2019-06-06 02:27] #141 closed

[2019-06-06 02:58] NickSchimek commented on #167
I'm not quire sure I understand this. My initial answer would be I don't know how OJCIN handles the search when it receives a birth_year argument.

[2019-06-06 03:40] erikjasso opened #172 "Connect /users/ endpoint to the database"
Where we are using dummy data or stubbed calls replace w/data from the database reads and writes.

In `endpoints/user.py` do:

    from flask import g
    from expungeservice.database import user

The Flask `g` object will have a handle to the database stored on it in `g.database`. Use `user.create_user()` to create a user and `user.get_user_by_email()` to read a user, passing in `g.database` as t

[2019-06-06 04:09] wittejm opened #173 "Create a database connection for an incoming request"
Using the flask "global" namespace:

`from flask import g`

Use the @before_request decorator to instantiate a database connection, and attach it to:

`g.database`

Read connection info and credentials from environment variables to create the [Database](https://github.com/codeforpdx/recordexpungPDX/blob/master/src/backend/expungeservice/database/database.py) object.

Use @after_request to close th

[2019-06-06 04:14] erikjasso opened #174 "Update build process"
We want to have different environments for `dev` and `prod` application containers w/different contents. For example, we want `dev` containers to have tests but not the `prod` containers. To achieve this we will change the application build process.

### This task is done when:
- there is a `build` target in `Makefile` that:
    - makes a directory called `build` at the same level as `src`
    - c

[2019-06-06 16:38] NickSchimek commented on #167
The birth_year parameter on the cases class is what is from the information being parsed on the OJCIN website. It doesn't have anything to do with actually performing a search. It is simply the data returned to us after a search. @hmarcks Not sure if that better answers the above question

[2019-06-06 17:28] wittejm commented on #174
@erikjasso Did you mention also that each make build target should wipe out the build directory after everything else is finished?

[2019-06-06 18:49] wittejm commented on #173
Expanded this description a little.

[2019-06-06 19:42] hmarcks commented on #167
Ah, I see! Thanks @NickSchimek , I was confusing this with search

[2019-06-07 04:48] #167 closed

[2019-06-07 05:27] NickSchimek commented on #168
Update from Michael:

if the statute is 2 digits, it's a municipal parking ticket
so like, 19, 74, etc. are all parking
because the statute numbers come from the municipal code, which is a lot shorter than the State code
so yeah, anything between 01 and 99

[2019-06-07 19:29] wittejm opened #184 "Hosting Docker images on Docker Hub"
We now have a Docker Hub account at
https://hub.docker.com/u/recordexpungpdx

It's currently an "individual" account tied to my primary email (wittejm@gmail.com) . It's possible to change the primary email address and also upgrade to an "organization" account whose pricing begins at $7/month.

Images can be pulled from the Dockerhub with the identifier:
[username]/[repository]:[tag]

For example,

[2019-06-07 19:44] wittejm commented on #165
This issue will be closed with PR #183 . The feature of adding test code to the dev expungeservice container has moved to #174

[2019-06-07 22:06] wittejm commented on #119
I wrote some more initial ideas for this feature here:
https://github.com/codeforpdx/recordexpungPDX/blob/master/doc/design.md#database-functions

Unassigning myself from this task for now.

[2019-06-08 04:54] NickSchimek opened #186 "Remove authentication test from database"
## Description

I'm not sure this is a very useful test, and it forces developers to set a password on the development database that is not 'wrongpassword', and we're basically testing the database authentication system which is already under test by the vendor.

https://github.com/codeforpdx/recordexpungPDX/blob/master/src/backend/tests/database/test_database.py#L40

@wittejm What do you think ab

[2019-06-08 05:03] wittejm commented on #186
Removing the test case makes sense. I think I sometimes go a little far with trivial tests :/

[2019-06-08 05:12] wittejm opened #187 "Expand install instructions to include docker stack"
Building and deploying the docker stack is not mentioned in the Readme's install instructions. Also the test cases that hit the database need a .env file correctly in place to obtain the database connection information.

Related to issue #118 which will refactor how to set environment variables to configure the database.

### This task is done when:
 - instructions to install docker and build the

[2019-06-08 05:16] wittejm commented on #187
The main Readme will mostly just need to point users to the docker.md file:
https://github.com/codeforpdx/recordexpungPDX/blob/master/doc/docker.md

Setting up the .env file currently requires a user to make a copy of .env.example that is named .env.

[2019-06-08 05:23] NickSchimek opened #188 "Remove setup.py"
## Description
`setup.py` is used for distributing a library, but since we're building a web app then we don't generally need it.

With the new `pipenv` version it is now installing a package called unknown, because we're specifying `pipenv` to install and lock all declared dependencies from the `setup.py` file by using the `'-e .'` option, and I imagine since we don't have anything there it is no

[2019-06-08 05:25] wittejm commented on #187
I just realized these steps could just be added to the `make install` target. It could even prompt the user to create their database password and then write the new .env file into place. @NickSchimek what do you think of this?

[2019-06-08 05:32] NickSchimek commented on #187
Yeah, that is good idea. I would create a separate `make setup` task to create the database and run the script. I think installing the dependencies and setting up the database should be separate commands. Regarding the password, I generally don't like the password requirement, obviously it should have a password in production, as I just created a ticket asking you about it. https://github.com/code

[2019-06-08 07:16] NickSchimek commented on #168
Traffic tickets (chapter 800) and parking citations are considered a motor vehicle violation, and they do not qualify for expungement and do not count against time eligibility.

Need to ensure checks are added for most recent conviction, dismissal, and charge.

[2019-06-08 14:44] wittejm commented on #187
So the database is only installed virtually as part of the docker stack and in my opinion the full docker stack should be running in any dev's setup. Similarly a test script will run the set of test cases within the docker stack, when issue #174 is completed. So in that case I don't see a reason to have a separate make target for this since they are both just steps for installing the dev environme

[2019-06-08 17:19] NickSchimek commented on #187
yeah, there are a lot of good reasons to use docker in development too. This is something we had discussed a while back, but at that time we weren't close to having a docker setup. It is definitely something we can discuss again at the next meeting as I'd like to give everyone a chance to express their opinion on using docker for development.

[2019-06-10 16:55] wittejm commented on #184
pinging @NickSchimek and @erikjasso to get their opinions. It's not as much of an "action item" as other issues so it might make sense for me to move this info to some other place in the documentation (like the wiki, maybe?)

[2019-06-10 19:22] #173 closed

[2019-06-10 19:50] #150 closed

[2019-06-10 22:42] wittejm commented on #165
Closed with PR #183 merge.

[2019-06-10 22:42] #165 closed

[2019-06-12 01:57] NickSchimek commented on #184
This would be something to ask @htharker42 about

[2019-06-12 17:33] NickSchimek commented on #168
Will add check for most recent charge at this time. Creating new ticket for dismissal and conviction since it seems we need to include 800 level statutes too (all motor vehicle violations). Will confirm with Michael.

[2019-06-12 17:45] NickSchimek opened #198 "Do not use motor vehicle violations in the time analysis"
If it is an 800 level and a violation then it should not be used in the time analysis.

### This task is done when:
 -
 -

[2019-06-12 17:49] #186 closed

[2019-06-12 18:20] wittejm commented on #164
File update complete with removal of subpackages.

[2019-06-12 18:20] #164 closed

[2019-06-12 20:12] wittejm commented on #172
Starting to look at this I have a few questions / requests for opinions @NickSchimek @maxkwallace @erikjasso @a-ilango :
- Should a password length constraint be enforced here, e.g. 8 character minimum? Seems like yes to me. Options for status codes seem to be  `400 BAD REQUEST` or  `411 LENGTH REQUIREMENT`.
- What about allowed characters in the password? [This from Oracle](https://docs.oracle.co

[2019-06-12 20:13] wittejm commented on #172
(pinged specific folks but all opinions welcome)

[2019-06-12 20:24] #188 closed

[2019-06-12 20:25] #168 closed

[2019-06-12 20:29] hmarcks commented on #172
I vote yes on character length, but no other requirements (unless ya'll think there should be some character restrictions).

[2019-06-12 20:40] NickSchimek commented on #198
OK. initial response from Michael is.
800 level charges can also be misdemeanors and felonies - those block
If they’re 800 level violations they do not block

Will need to verify the current implementation adheres to the above rules.

[2019-06-12 21:29] maxkwallace commented on #172
@wittejm re: user creation failure due to duplicate email, AFAIK the code should be a 422. See https://httpstatuses.com/422 , 400 would be used if e.g. the request itself was malformed.

Re: server-vs-client password hashing, see https://security.stackexchange.com/a/143857/38400
I think we should hash on the server only (assuming the site will be deployed with SSL required). The small additional s

[2019-06-12 21:36] NickSchimek commented on #172
Sure, 8 char minimum... probably would also be good to enforce a number, and special char is used... However, I believe this validation should be done on the application side. Both on the frontend and backend.

Agreed, latter sounds good.

See Max's comment ^^^

Agreed.

Agreed. Yes, hash on server side.

[2019-06-12 21:46] NickSchimek commented on #172
Only the admin should have access to create a user. Correct? As the first phase of this app will not be publicly available.

[2019-06-12 23:09] wittejm commented on #172
Great, thanks for the feedback everyone. Then:

- failure due to duplicate email will return a 422
- password minimum length of 8. I can add the check too for an alphabetic character, a numeric character, and a non-alphanumeric character. Should both the length and character failure conditions also return 422?

Ah, yea, looking again at the design doc I see that is the intention. Then the /users/

[2019-06-12 23:57] maxkwallace commented on #172
Yup, 422 ends up being a pretty common error code.

[2019-06-13 20:24] NickSchimek commented on #172
Thanks for tackling this @wittejm Is this issue for creating the user endpoint? When I read your comment yesterday I thought it was for database constraints, but reviewing the issue now I see that it looks more like creating a user endpoint, which makes sense since the database wouldn't see the actual password...

I'd say regarding the password... check with Michael if we should enforce the user o

[2019-06-13 20:31] NickSchimek opened #200 "extract birth year when given a date in the format of mm/dd/yyyy"
## Description
When the user performs a search with entering in the birth date then the response lists the birth year of the person on each case, however when the search is done with the birth date included then the response lists the birth date on each of the record. Currently the case is expecting a birth year only. Fix the case initialize the birth year when either format is encountered.

### T

[2019-06-13 21:45] NickSchimek opened #202 "Create juvenile charge class"
## Description
Juvenile charges have different rules than adult charges. For now mark any case that is of type Juvenile, and exclude from the analysis.

### This task is done when:
 - Juvenile charge class exists
 - Juvenile charges are classified as a juvenile charge

[2019-06-13 21:47] wittejm commented on #172
@NickSchimek Yep, this issue is for implementing the complete /users/ endpoint, which naturally includes the database calls but (I discovered) requires more missing functionality that I hadn't realized was still todo.

And cool, I'll ask Michael for his opinion on the password character-types requirement.

[2019-06-13 22:02] #200 closed

[2019-06-13 23:19] NickSchimek commented on #26
This is no longer needed.

[2019-06-13 23:19] #26 closed

[2019-06-13 23:28] NickSchimek commented on #172
Ah now I see why this is called connect users endpoint... issue #47 should be marked as done... right?

[2019-06-14 19:25] #47 closed

[2019-06-14 19:25] wittejm commented on #47
closed because redundant with issue #172

[2019-06-14 19:25] wittejm commented on #172
#47 does seem redundant with this issue, so it does make sense to close it.

[2019-06-18 05:36] NickSchimek opened #207 "Refactor type analyzer"
## Description
The type analyzer currently goes through a series of if/elif statements to determine the type of charge that it has. ~~I suggest refactoring this to use the state design pattern so that the type analyzer asks the charge what type it is and calls the appropriate method/object to determine type eligibility.~~
It was not possible to refactor it in that way. Well... to clarify it is pos

[2019-06-18 19:41] NickSchimek commented on #198
Only misdemeanor and felonies are included in the time analysis.

[2019-06-18 19:49] NickSchimek opened #210 "Tag and skip any closed charge that does not have a disposition"
## Description
Cases that are closed may not have a disposition header assigned due to the way the judgement was entered by the administrator. That creates an issue that a charge does not have a disposition when the case is closed.

When that happens there is an error due to the disposition does not exist when there should be one...
[code]

### This task is done when:
 -
 -

[2019-06-19 02:14] wittejm commented on #172
A new question: This endpoint needs to check that the logged-in user is an admin before the new account can be created. The logged-in user's email address is stored in the authorization header, and this information is decoded and checked at [auth.py](https://github.com/codeforpdx/recordexpungPDX/blob/583b1689a9f141377932d4851b9c24d5d52ba7ac/src/backend/expungeservice/endpoints/auth.py#L30-L43).

B

[2019-06-23 05:23] erikjasso commented on #172
A pattern I've used is to store user attributes needed in SQL queries on `Flask.g` (`user_id`, permissions, etc.). I don't think that's an abusive use of `g`.

[2019-06-25 20:50] #172 closed

[2019-06-27 06:20] NickSchimek opened #219 "Update parking violation classifier"
## Description
Had a parking violation incorrectly classified. The statute for the charge was `16.20.130-Q` which explains why it got classified incorrectly as the system is only checking for a two digit statute, between 1 and 99.

## Possible solutions:
Make the statute extractor smarter by splitting on the dots, if they exist, to obtain the section and chapter.

Can also check for the case type.

[2019-06-29 14:46] NickSchimek commented on #86
@hmarcks Is this completed?

[2019-06-29 14:57] NickSchimek commented on #122
@hmarcks is this completed?

[2019-06-29 16:38] hmarcks commented on #86
@NickSchimek yeah it's done, I'll close it

[2019-06-29 16:38] #86 closed

[2019-06-29 16:43] hmarcks commented on #122
@NickSchimek affirmative, closed

[2019-06-29 16:43] #122 closed

[2019-06-30 22:31] wittejm commented on #138
See request for changes described in the merged PR #214

[2019-07-02 20:42] wittejm opened #229 "Export Record data as json for /search/ endpoint."
The Record object and its members, including its Charge, Case, ExpungementResult, and Disposition objects, need to be converted to json data to return in a user search result.

I see two general ways to do this: one is a programmatic approach that scoops up all of the public variables and properties on each of these objects. This could be done with a subclass of [JSONEncoder](https://docs.python.o

[2019-07-02 20:48] wittejm commented on #229
Related question: the Charge object includes secondary dynamically computed properties like acquitted(), recent_conviction() and others. Should any/all of those be included in the returned json? In this case the members of the returned data should all be listed in the design.md Data Model section.

Pinging @NickSchimek and frontend folks @maxkwallace @hmarcks @cjbreaux  but all opinions welcome.

[2019-07-03 00:59] maxkwallace commented on #229
@wittejm I have a few opinions here. If I understood correctly (correct me if wrong), we're asking the general question: how do we serialize server-side objects into JSON for the client? (Sidenote: almost every webapp has to solve this problem, so there are many existing solutions.) The two general proposed solutions are:

A: By default, serialize all public fields and properties on objects of the

[2019-07-03 02:26] NickSchimek commented on #229
Thank you @maxkwallace for the detailed explanation and pros/cons of both approaches.
To answer @wittejm questions about the public methods such as `acquitted(), recent_conviction()` - These should not be included in the JSON (there's also another refactoring coming that is going to remove some of those methods). The only values that should should be in the JSON are all attributes of the case, cha

[2019-07-03 02:28] NickSchimek commented on #229
I'm open to other solutions, but I usually like to go the simplest route first, and update later if necessary.

[2019-07-03 02:30] NickSchimek commented on #229
sorry if something above doesn't make sense. I need sleep. goodnight

[2019-07-03 02:48] NickSchimek commented on #229
oh yeah, here is the obj to dic method
[code]

[2019-07-03 19:02] wittejm commented on #229
Thanks for the rundown @maxkwallace . At first guess I think that any potentially sensitive information can just be formatted as private-named fields/functions so we can have a programmatic serialization approach that  won’t capture any of that. The tradeoffs of those two general approaches are definitely good to keep in mind.

@NickSchimek  As far as I can tell the built-in or standard functions

[2019-07-03 20:13] NickSchimek commented on #229
I think you might be right, but that doesn't mean we can't still use it. There are so many ways to solve this.
The frontend doesn't need this to implement their search feature. They just need to know the JSON format we will return, which I should probably get documented as I think it gets lost in slack

[2019-07-04 03:15] #207 closed

[2019-07-04 03:31] #139 closed

[2019-07-04 16:58] SteelFace87 commented on #87
I am starting to work on this

[2019-07-04 17:45] wittejm commented on #187
I added a few missing steps to the install instructions, realized with help from @ash-tamraz that you need to configure docker [to not require sudo,](https://docs.docker.com/install/linux/linux-postinstall/) because sudo messes with the way pipenv pathing works. I don't see any similar instructions for Mac, so I don't know if this step is also required there. Any feedback on whether folks (both on

[2019-07-04 18:11] maxkwallace commented on #87
@SteelFace87 awesome! Thanks for letting us know.

[2019-07-05 00:53] NickSchimek opened #235 "Refactor expunger"
### This task is done when:
 -
 -

[2019-07-05 00:53] NickSchimek opened #236 "Exclude juvenile charges from the expungement analysis"
## Description
Blocked by Issue #202 and #235

### This task is done when:
 - Juvenile cases are excluded from the expungement analysis
 -

[2019-07-05 01:01] NickSchimek commented on #210
This doesn't happen that often so it was advised just to mark it.  It would be good to look into creating a smarter parser too for this particular situation

[2019-07-05 23:43] NickSchimek commented on #229
@wittejm Have you seen this? https://kite.com/python/docs/flask.jsonify
it might be worth looking into.

[2019-07-09 05:37] NickSchimek opened #241 "Update expunger to use record object"
Since we have a record object now that is returned from the crawler it should be injected into the expunger instead of a list of cases.

### This task is done when:
 -
 -

[2019-07-10 17:37] NickSchimek opened #251 "Traffic charge type eligibility is based on the level of the charge"
## Description
an 800 level charge is not expungeable if it is a violation - but it is expungeable if it is a misdemeanor or felony

### This task is done when:
 - Create test to verify current behavior fails the above criteria
 - Fix the initialization logic for 800 level traffic charges

[2019-07-10 17:45] NickSchimek opened #252 "An open ticket for a violation level traffic case should not stop time analysis"
## Description
Open tickets/cases for "violation level" traffic cases will not block other cases

### This task is done when:
 - Create test to check that violation level traffic cases are ignored when checking if open cases exist
 - Implement behavior to ignore violation level traffic case

[2019-07-10 19:53] gingerben93 opened #253 "Record Object Testing Improvement"
### Description
The Record Object exists with minimal desired functionality. The way it is tested should be more clear. Adding a factory model to how it is tested would make it more clear and follow the standard of the project. Changes to the other factories or models may be required to complete this task and is OK.

### This task is done when:

- [x] Factory model is created for Record Object
- [

[2019-07-10 21:47] #241 closed

[2019-07-10 22:46] #219 closed

[2019-07-11 19:51] #210 closed

[2019-07-12 01:29] NickSchimek commented on #138
This was completed. New issue created to update tests #253

[2019-07-12 01:29] #138 closed

[2019-07-12 22:26] #202 closed

[2019-07-13 14:56] NickSchimek opened #259 "Set default values on disposition fields to a string"
## Description
This is mainly being done to match the setup on the CLI. It can also improve the readability on the front end. The disposition fields are currently set to None which may imply that there is no disposition rather than the disposition was not found since some charges that have been disposed do not explicitly set a disposition

### This task is done when:
 - Update tests in `test_crawl

[2019-07-13 18:20] NickSchimek opened #260 "Look into speeding up the search function"
## Description
Currently the search function iterates through all cases found and requests case info sequentially from the OJCIN site. Typically this does not take too long, but for some instances it can take up to 4 to 6 seconds depending on the number of cases returned from the search.  We could possibly run these requests in parallel using threads. Here is a good article to get started: https:/

[2019-07-14 06:26] NickSchimek opened #261 "Append errors to record object"
## Description
Currently any errors that are recorded within the expunger are added to the error attribute on the expunger. Now that we have a record object these should be appended to error attribute on the record object.

This is needed because the search endpoint will return a jsonified record object to the frontend and whatever data is left in the expunger will not be sent. After this the expu

[2019-07-14 06:48] NickSchimek opened #262 "ValueError exception while parsing Case"
## Description
Received the following error in the production log
[code]

### root cause
The case parser looks for `disposition` transactions in order to extract the dispositions for a case, however this particular case has 4 disposition transactions, but only two of them are actually dispositions. The other two are just comments being logged improperly as a disposition.

### This task is done whe

[2019-07-15 04:21] #262 closed

[2019-07-15 04:21] #252 closed

[2019-07-15 04:31] NickSchimek opened #265 "Arrests should only block other arrests."
## Description
If a person has an arrest from the last three years, older arrests are not eligible, but that arrest is eligible, and the convictions are eligible.

The current behavior is that if there is a recent arrest then it marks everything not time eligible, however an arrest should not block the expungement of eligible convictions.  It should only block the expungement of other arrests (dis

[2019-07-17 00:07] gingerben93 commented on #253
I also made some other changes you referenced earlier.
`def total_balance_due(self):
        total = 0`
Now returns int
` def total_balance_due(self):
        total = 0

        for case in self.cases:
            total += case.balance_due_in_cents

        #for two decimal places
        return round(total/100.0,2)`
now rounds to two decimal places

[2019-07-17 00:18] gingerben93 commented on #253
I finished the goals. The record_factory is very bare bones, but I think more test will be added.
The testing is cleaned up and looks a lot nicer.

I'm struggling with finding a nice way to test the record object charges for correctness because of the objects are nested and I can't think of a clean looking way to do it.

[2019-07-17 02:12] NickSchimek commented on #253
Very nice! Thank you! I checked out your branch and everything looks great. It is OK the RecordFactory is a bit barebones. We can implement a few more options on an as needed basis.
I see what you mean by finding a way to check the charges method.
This is probably a bit overkill, but I would implement these three tests.
Test empty case list
FYI: Since the `@property` tag is used on the charges met

[2019-07-17 16:41] gingerben93 commented on #253
@NickSchimek Thanks for the quick feed back! Your suggestion for testing the charges method looks pretty clean and I might try something along those line.

I do understand your concern that a standard unit test shouldn't have multiple asserts because it should fail for only one reason. This case might be OK because you're testing the index of an array so it would be failing for the same reason eve

[2019-07-18 02:29] erikjasso opened #271 "Retire legacy Make targets"
### This task is done when:
 - The Makefile no longer has targets:
    * `install`
    * `run`
    * `clean`
 - `make [install|run|clean]` fail

[2019-07-18 02:36] erikjasso commented on #271
This might have been premature. Closing.

[2019-07-18 02:36] #271 closed

[2019-07-18 02:57] erikjasso opened #272 "Retire "run" Make target"
Because we run the backend in Docker containers we no longer need the `run` target to run the Flask application. Instead developers should run `make dev` to start the containers. Remove the target from `Makefile` and any references in `README.md`.

### This task is done when:

- [ ]  - `Makefile` no longer has a `run` target
- [ ]  - `make run` fails
- [ ]  - `README.md` no longer has the "Running

[2019-07-18 03:54] NickSchimek commented on #253
Awesome!
Yes, I have thoughts about that :)
The main issue with having multiple asserts is that it can be difficult to tell by the description of the method what is failing. Each method should have a single responsibility, but if our test method is testing multiple things it is kind of hard to name it, and that named method comes up as failing.
For example this test could be generically named as:

[2019-07-18 04:01] wittejm opened #273 "Additional Docker make target and suggested commands"
Useful docker operations not included in Makefile or doc/docker.md yet:

 - update the docker stack with changes made to a docker image
 - kill one docker service within the running docker stack. E.g. the web server so that it can be run instead with the npm server, with
`docker service rm recordexpungpdx_webserver`

### This task is done when:
 -
 -

[2019-07-18 22:41] #251 closed

[2019-07-19 22:18] #235 closed

[2019-07-24 05:54] #265 closed

[2019-07-24 06:34] NickSchimek opened #287 "Return largest eligibility date"
## Description
The eligibility date calculated using the 2nd mrc also needs to take into account the eligibility date calculated using the 1st mrc, since it could be a longer wait. And should return whichever date is greater

### Current Behavior
If there is a 2nd mrc a week away from being 10 years old, and an mrc that is a year old. Then when you run the expunger today it will say that the mrc i

[2019-07-24 15:31] #198 closed

[2019-07-24 21:37] #287 closed

[2019-07-25 16:08] NickSchimek opened #289 "800 level Infractions are not eligible and should skip time analysis"
## Description
Infractions are also not eligible.
### This task is done when:
 - Create test for infraction
 - Only felonies and misdemeanors should run through the time analysis for 800 level charges

[2019-07-25 17:10] NickSchimek opened #291 "Unable to sort convictions for cases with missing dispositions"
## Description
Unable to sort conviction charges, because one of the dates is a string. Closed cases with partial dispositions are creating charges that do not have a disposition

### Current behavior
The current behavior is that charges for without a disposition are being marked as missing disposition and are being skipped in the expungement process, however this is only working when a case does

[2019-07-25 22:11] wittejm commented on #187
Pretty sure the readme files have been all updated with this info, closing issue.

[2019-07-25 22:11] #187 closed

[2019-07-26 20:02] wittejm opened #293 "Deployment setup for Prod"
I've been learning about the free webapp host service Heroku, hoping to build our deployment pipeline for Prod. I had originally assumed that it would be as simple as deploying our Docker stack to the service with minimal configuration. This also supports the idea that our prod environment is essentially a duplicate of dev.

But I’ve learned that:

- Heroku doesn’t support Docker container orchest

[2019-07-27 01:44] maxkwallace commented on #293
With the caveat that I have never deployed Docker to Heroku or any other platform, my understanding is that the "happy path" with Heroku is deploying the web application directly and letting Heroku handle the rest.

This means deploying the code plus instructions telling Heroku what application server to run it with (the Procfile), and running only that application server in the dyno, not a web se

[2019-07-29 17:52] wittejm commented on #293
@maxkwallace That's really helpful, thank you. I'll see how far I get setting up various configurations (in part for personal practice) and look forward to checking in on this Wednesday.

[2019-07-30 00:13] maxkwallace commented on #293
@wittejm glad to hear it!

[2019-07-31 17:14] erikjasso commented on #261
I think having an "errors" object in the JSON is fine given the response includes the correct 4xx and 5xx HTTP status code and standard error message. Flask [make_response](https://flask.palletsprojects.com/en/1.1.x/api/#flask.make_response) is one way to do this

If an error occurs is there a record to return?

BTW Flask has a decorator `@application.errorhandler` for handling errors. One way it'

[2019-08-01 03:06] erikjasso opened #299 "Scripts for dumping and restoring the database"
We will periodically want to sync our local database w/the production database. PostgreSQL provides two utilities, `pg_dump` and `psql` that we can use to do this.

### This task is done when:
 - We have a script that dumps a PostgreSQL database using `pg_dump` and produces a gzipped `.sql` file
 - We have a script that takes a gzipped `.sql` file and restores it into a PostgreSQL database using `

[2019-08-01 03:43] ForrestLonganecker opened #300 "Add react-router to front end"
Search, Stats, Admin, Account

This task will be finished when there are pages for the four above mentioned links ready to be filled with page specific components.

[2019-08-01 03:49] maxkwallace commented on #42
@a-ilango Hey Arun! Are you still working on this? Just wanted to check in.

[2019-08-01 04:38] wittejm commented on #174
A change to this issue: with deploying our app to Heroku, there is no need to use Makefile targets for the prod deploy workflow. I think all of it can go into its own shell script. The remaining todo item in this issue is to have the Docker expungeservice_image include the test code (and run it at container launch time?).

[2019-08-01 05:57] wittejm commented on #42
@maxkwallace the /auth_token endpoint code is about finished with python tests passing, though I've just discovered that it's broken on the wsgi server (returns 400) and am looking into this.

[2019-08-02 05:47] a-ilango commented on #42
@maxkwallace Sorry, I'm not working on this. It's been busy for a while now but I'm hoping to contribute to this project again when I get some time in the future.

Thanks @wittejm for taking this up!

[2019-08-05 21:57] #289 closed

[2019-08-06 04:01] NickSchimek commented on #261
Sorry I wasn't at the last meeting. I will be at all of the next meetings for the foreseeable future. Was this discussed at all? This issue would be more of an errors field for the record object that would list any potential/possible issues with the returned data.  I believe what you are referring to is needed as well for the JSON response given there is an issue with the request.  I suppose we co

[2019-08-06 04:24] NickSchimek opened #306 "Fix 800 level logic"
Clarified inconsistent requirements from Michael regarding 800 level infractions. The following should be enforced:

- 800 level misdemeanors and felonies are eligible Only If the case was dismissed
- 800 level cases of any kind that are convicted are not eligible
- 800 level infractions do not block other cases
- 800 level misdemeanor and felony convictions do block
- 800 level misdemeanor and fe

[2019-08-15 02:35] maxkwallace commented on #75
This issue is mostly done as of https://github.com/codeforpdx/recordexpungPDX/pull/285
Thanks @cjbreaux !

Here's what I think is left:
- Loading state for the 'send password reset email' button
- Change routes to the login page after resetting password
- Loading state for the login buttons

There will probably be at least a few other small issues we find since the complete feature is far from don

[2019-08-15 02:36] maxkwallace commented on #82
Addressed in https://github.com/codeforpdx/recordexpungPDX/pull/285 (thanks @cjbreaux !)

The loading state for the login button is listed as an outstanding item in https://github.com/codeforpdx/recordexpungPDX/issues/75 so I think it's safe to close this issue.

[2019-08-15 02:36] #82 closed

[2019-08-15 02:45] erikjasso opened #320 "Rename method handler from "get" to "post""
Any time data is sent in to the server in a request body the HTTP method should be either `POST` or `PUT`.

In `endpoints/auth.py`, in class `AuthToken`, rename `get()` to `post()`.

### This task is done when:
 - `get` is renamed to `post`
 - data can be sent to endpoint (using curl or some other tool) using POST HTTP method

[2019-08-15 03:29] #253 closed

[2019-08-15 03:51] wittejm opened #322 "Initialize database with some User accounts"
Our deploy scripts for the app  can include login credentials already in the newly deployed database, to bootstrap and/or test authorized API calls (such as creating new users). Otherwise, a developer will need to insert login credentials manually to the database before they can start using the API.

We can have a SQL script insert some login credentials when the database is initialized. If you wa

[2019-08-15 03:52] wittejm commented on #322
some pings: @cjbreaux @erikjasso @NickSchimek @maxkwallace @SteelFace87 @ash-tamraz

[2019-08-15 21:17] wittejm commented on #320
@maxkwallace suggested last night changing this endpoint to use query params in order to keep it a GET request without a data body. Thoughts on this vs making is a POST request?

[2019-08-16 01:16] maxkwallace commented on #320
@wittejm @erikjasso I did some research re: security and now I agree we should use a POST or PUT. Initially it wasn't clear to me why the URL would necessarily be less secure than the method body over HTTPS, since HTTPS also encrypts the URL, but I realize now there may be browser extensions, etc. basically other unexpected ways in which the URL is more likely to leak.

Also https://stackoverflow.

[2019-08-19 03:58] #306 closed

[2019-08-28 23:30] maxkwallace commented on #91
@ForrestLonganecker okay! Do you have existing work in progress on this? If you're not currently working on it, would it be feasible to open this up for someone else to work on? Again, can discuss tonight, those are the main things I'd want to know re: making sure everyone has something they're excited to work on.

[2019-08-28 23:33] ForrestLonganecker commented on #91
I had started but didn't get far, of someone else wants to take over that's
okay with me. You can open it back up!

On Wed, Aug 28, 2019, 4:30 PM Max Wallace <notifications@github.com> wrote:

[2019-08-28 23:34] ForrestLonganecker commented on #91
@maxkwallace I had started but didn't get far, of someone else wants to take over that's
okay with me. You can open it back up!

[2019-08-29 02:56] erikjasso commented on #42
@wittejm Can we close  this?

[2019-08-29 03:14] erikjasso commented on #76
FIWI I like this idea. If I understand the objective the task could be as simple as:

* check out this Python file and increment this variable
* checkout this JavaScript file and increment this variable
* commit and push both changes

[2019-08-29 03:15] erikjasso commented on #44
@wittejm Is this ready to be closed?

[2019-08-29 17:51] wittejm commented on #44
@erikjasso It sure is!  Thanks for spotting it, will close now

[2019-08-29 17:51] #44 closed

[2019-08-29 18:35] wittejm commented on #42
@erikjasso The only feature listed here that is missing from the app is to use persistent RSA keys in the prod environment, whereas the dev configuration works as intended (generating a random rsa key on app start).

I suppose we could write a more specific issue and toss it into the project backlog, to unclutter the project board a bit. The feature is blocked on having the app use any prod config

[2019-08-30 01:20] #300 closed

[2019-08-30 21:48] ForrestLonganecker commented on #91
@maxkwallace to follow up I am now actively working on this ticket!

[2019-09-05 03:42] wittejm commented on #46
The login endpoint /auth_token is completed, and the endpoint for creating a new user , users.PO

[2019-09-05 03:42] #46 closed

[2019-09-05 04:09] NickSchimek commented on #291
This still needs to be fixed. It fails for when there is a case without dispositions, and not all closed charges without a disposition are being marked as "Needs further attention"

[2019-09-05 07:41] NickSchimek opened #358 "Add error to record when there are charges without a disposition"
## Description

Currently when there is a charge without a disposition a message is written to `type_eligibility_reason`, however type eligibility is determined upon charge creation not during expungement, and it would only affect time eligibility. Need to move the message from type_reason to time_reason, and add a message to the record so that the user can be informed that errors may exist in the

[2019-09-07 04:37] wittejm opened #360 "Spec out the required backend endpoints"
Only a few endpoints are listed in the design.md document and have been implemented, but the click-through prototype http://dev.huntermarcks.net/ shows we need several new endpoints, and may need to refactor the data tables.

### This task is done when:
 - required endpoints identified, including function signatures and usage in the frontend, with a clear naming scheme

[2019-09-09 18:34] #45 closed

[2019-09-09 19:58] #291 closed

[2019-09-10 18:04] wittejm opened #364 "Build the backend functionality for GROUPS app component"
This is a fairly low-priority feature and not part of our MVP.

The GROUP field on a User data entry for both API and the database is currently just string field. The app [prototype](http://dev.huntermarcks.net/) includes a Group component for managing "groups" like legal firms or public defenders services. This frontend feature is is part of PR #445

To expand the Groups feature of the app, we wi

[2019-09-10 18:06] wittejm commented on #364
I would identify this issue as lower priority than #360 , including the endpoints that would enable Login and User Creation

[2019-09-13 01:23] NickSchimek opened #369 "Parking ticket is never type eligible"
## Description

Parking tickets are never type eligible regardless of disposition.

### This task is done when:
 - Create unit test to expose bug
 - Implement fix

[2019-09-14 22:06] wittejm opened #373 "Endpoint: /api/user/ POST response includes user_id, name, group"
### This task is done when:
 - POST /api/users endpoint renamed to /api/user
 - a new file should be created in expungeservice/endpoints/ called "user.py" to handle this as well as GET and PUT requests
 - POST /api/user includes user_id, name, and group in response data.
 - Unit tests updated

[2019-09-14 22:12] wittejm opened #374 "Endpoint: /api/users/<user_id> GET"
### This task is done when:
 - returns a User data object containing user_id, email, name, group, admin, date_created
 - user auth_token required. additional check for either admin authorization or that auth_token user_id matches user_id in request.
 - endpoint registered with Flask app
 - unit tests

[2019-09-14 22:18] wittejm opened #375 "Endpoint: /api/users/<user_id> PUT"
endpoint to update a single user's profile or account settings.

### This task is done when:
 - fields in request JSON: all optional, but requires at least 1 of: email, name, group, admin, password
 - returns a User data object containing user_id, email, name, group, admin, date_created
 - user auth_token required. additional check for either admin authorization or that auth_token user_id matches

[2019-09-14 22:20] wittejm opened #376 "Endpoint: /api/users GET response includes user_ids"
We're providing user_ids to the frontend, so this response data should be updated

# This task is done when:
 - user_id included with each user in the response data.
 - unit tests updated

[2019-09-18 03:19] maxkwallace opened #379 "Add Redux Middleware to add authorization header for applicable requests"
See my comment at https://github.com/codeforpdx/recordexpungPDX/pull/371#discussion_r325462866

Note: https://auth0.com/blog/secure-your-react-and-redux-app-with-jwt-authentication/

Waiting on https://github.com/codeforpdx/recordexpungPDX/pull/371 to be merged and then I'll start this.

[2019-09-18 18:16] ForrestLonganecker commented on #379
Just letting you know that #371 is now merged

[2019-09-18 19:00] maxkwallace commented on #379
@ForrestLonganecker yup, I'll work on this tonight.

[2019-09-18 23:12] NickSchimek opened #382 "Apply new rules for most recent convictions"
## Description
When assigning the most recent and second most recent conviction for the time analyzer in the `expunger.py` file a charge with level violation has special rules; in general a single violation does not block other cases from expungement. There needs to be at least 2 violations from the last ten years to block.

Examples (ordered by most recent disposition date to least recent disposi

[2019-09-18 23:42] ForrestLonganecker commented on #91
Just to update the state of this issue, currently the `<UserList/>` component renders data that it retrieves from the store.

Some of what still needs to be done:
- create a get/users request that will return a list of users and their information if the current user is an admin and place that list in the store.
- render something/redirect users that do not have admin privileges.

[2019-09-19 04:00] wittejm commented on #373
completed with #377

[2019-09-19 04:00] #373 closed

[2019-09-19 04:00] #376 closed

[2019-09-21 02:44] NickSchimek opened #385 "Only set eligibility date if type eligibility is true"
## Description

Currently eligibility date is set regardless when a charge is currently not time eligible, however it came to my attention that it could cause some confusion for users of the app. This could lead them to think that the charge will be eligible at that given date even though it says the charge is not type eligible.

Currently the `TimeAnalyzer` is using the method `set_time_ineligibl

[2019-09-21 02:49] NickSchimek opened #386 "Add Purgable to the list of closed cases"
## Description
Cases with status type 'Purgable' can be considered closed.

The change can be made here:
https://github.com/codeforpdx/recordexpungPDX/blob/master/src/backend/expungeservice/models/case.py#L43

Please add appropriate test cases for expected behavior.

Please reach out to `@poppa_nick` on slack if any questions.

### This task is done when:
 - the closed() method returns True on the

[2019-09-21 02:56] NickSchimek opened #387 "Apply new time eligibility ru"
## Description
If the most recent conviction is eligible and if there are only other "arrests" on that case then the whole case is time eligible.

The term 'arrests' means the charge was acquitted.

Should wait until #382 is done before working on this.

Please add appropriate test cases for expected behavior.

Please reach out to `@poppa_nick` on slack if any questions.

### This task is done whe

[2019-09-21 03:33] NickSchimek opened #388 "Create ParkingTicket charges by case type after statute range check fails"
## Description

Currently we're checking statute range from `0-99` to determine if a charge is a parking ticket. However parking tickets are usually issued with county penal codes instead of state penal codes. County penal codes can vary from county to county so it is difficult to determine what a Parking ticket is.

However the case type may also be used to determine if a charge is a ParkingTicke

[2019-09-21 18:21] MatthewJMcAllister opened #390 "Flow Diagram Access?"
Hello from Code for Denver!

On the Wiki, the process flow diagram is linked, but then requires authentication to view. Is it possible to make the read-only version open?
https://www.draw.io/#G1aLwddaCPTUMazWIat-U6nMyWf0Qdgvfe

Thanks all,
Matthew

[2019-09-21 18:26] hmarcks commented on #390
Hello! [Can you access it here?](https://drive.google.com/file/d/1aLwddaCPTUMazWIat-U6nMyWf0Qdgvfe/view?usp=sharing)

It may be a bit outdated unless @NickSchimek has updated it recently.

[2019-09-21 18:36] MatthewJMcAllister commented on #390
@hmarcks that worked! Thanks for the speedy reply.

[2019-09-21 18:37] #390 closed

[2019-09-22 15:55] #379 closed

[2019-09-23 18:17] #360 closed

[2019-09-24 09:24] #386 closed

[2019-09-24 19:07] wittejm commented on #375
This doc:
https://flask.palletsprojects.com/en/1.1.x/views/
has user_id in the uri path rather than the json data in the body, so, updating to match.

[2019-09-24 19:10] wittejm commented on #375
I'm also removing the requirement that " admin may not change another user's password", because we don't currently have a different design for a user updating their own forgotten password.

[2019-09-24 19:42] wittejm opened #401 "Endpoint: /api/oeci_token"
This endpoint allows a user to "log in" to the remote OECI site by submitting their username and password for the OECI system, and the endpoint checks that the credentials are valid and, if so, returns them to the client encrypted in a cookie. No "logged in" state is maintained on the backed. Subsequent OECI record search relies on the encrypted cookie to log in again to the OECI site before perfo

[2019-09-24 19:57] wittejm commented on #48
Current design based on #361 and subsequent discussion:

**GET** /api/search
- Checks request for a cookie containing the encrypted user credentials for the OECI site
- Search query params: first name, last name, middle name, birthday.
- Decrypts the cookie, logs into the OECI site, and performs a record search.
- Runs the expunger on the search() result.
- Returns the analyzed record in this data

[2019-09-25 22:41] NickSchimek commented on #390
@MatthewJMcAllister Thanks for letting us know about the locked link. Yes that flow is a bit inaccurate, and outdated. I am planning to get it updated in the next few months, and will also be consolidating all of our docs to our new documentation website. https://codeforpdx.github.io/recordexpungPDX/

[2019-10-02 18:37] #401 closed

[2019-10-02 18:37] #369 closed

[2019-10-02 18:59] #388 closed

[2019-10-02 21:10] #382 closed

[2019-10-04 21:55] wittejm opened #441 "Open a new cursor for a database operation"
Psycopg closes a database cursor by default when it commits a transaction.And our database wrapper code only opens a new cursor when the database connection is created, at the beginning of a request.

This hasn't been a problem because our app doesn't make two sequential database updates in a single endpoint. But if it did, it would throw an error because the second op would be trying to use a clo

[2019-10-05 01:47] #48 closed

[2019-10-08 20:14] wittejm commented on #374
Completed with #442

[2019-10-08 20:14] #374 closed

[2019-10-09 16:55] #441 closed

[2019-10-09 18:10] wittejm opened #453 "Run an alternate test backend server to spoof web requests to oeci"
For integration testing with the frontend, we want to stub the backend endpoints for /api/oeci_login and /api/search. This is so that the frontend can see expected backend behavior that isn't actually hitting the oeci site.

We'll want to avoid adding any test-case logic to the expungeserivce code, but we want this in a running backend, so it doesn't work like a unit test. Proposed solution for th

[2019-10-09 23:01] wittejm commented on #229
This was completed with #434

[2019-10-09 23:01] #229 closed

[2019-10-10 17:07] wittejm opened #463 "Improve logging for all environments"
Our current logging approach for the backend app simply appends to a single file, which gets inconveniently large. For the Dev environment we are writing log files into the project directory. In deployment we might be able to use a Heroku logging mechanism for saving the logs.

When we're writing log files:
 - Create a new log file for each day, to improve readability
 - Delete older logs on a reg

[2019-10-10 17:08] wittejm commented on #463
@NickSchimek Rewrote your ideas here. Feel free to add anything!

[2019-10-10 17:56] wittejm commented on #453
One possible solution is to use a docker-compose override: provide a second docker-compose.yml file to the `docker-compose` command, which could map the replacement files with another docker Volume mapping. This depends on docker-compose correctly handling the conflicting volume mappings, so that the test versions of each file overwrite their regular versions without disrupting the rest of the bac

[2019-10-10 20:09] NickSchimek commented on #463
Thanks @wittejm  it looks good

[2019-10-23 18:14] #375 closed

[2019-10-29 11:24] KentShikama commented on #463
Sounds like a job for [logrotate](https://linux.die.net/man/8/logrotate).

Here is an example configuration file to rotate the log file daily and then delete after 30 rotations.
[code]

And then have a crontab to run

`logrotate -f example.conf`

daily.

[2019-10-31 03:34] NickSchimek opened #504 "Create logout endpoint"
## Description

The login endpoint creates a cookie, hence a logout endpoint is needed to destroy/invalidate the cookie.

[2019-11-04 21:18] #88 closed

[2019-11-07 07:33] keppel2 opened #522 "The dependency bot is clogging the PR's."

[2019-11-07 07:39] keppel2 commented on #299
Do you mean sync as in merge the contents? This sounds more like of a copy one way or the other.

[2019-11-07 07:45] keppel2 commented on #260
Can we work to get bulk API access?

[2019-11-07 13:13] dependabot-preview[bot] opened #523 "Dependabot couldn't find a Dockerfile for this project"
Dependabot couldn't find a Dockerfile for this project.

Dependabot requires a Dockerfile to evaluate your project's current Docker dependencies. It had expected to find one at the path: `/src/backend/expungeservice/Dockerfile`.

If this isn't a Docker project, or if it is a library, you may wish to disable updates for it in the `.dependabot/config.yml` file in this repo.

[2019-11-07 18:01] wittejm commented on #522
It sure is! I think @ForrestLonganecker had suggested the idea of reconfiguring dependabot to only bump patch updates for security dependencies. I imagine there are a few options for making other dependency bumps less frequent. @keppel2 you want to look into it?

[2019-11-07 23:48] #523 closed

[2019-11-08 21:46] wittejm commented on #522
From a comment that I pulled off of PR #521 :

So far we've been managing the risk of breakages from version bumps by reviewing dependabot's PRs as they come in.

Should we change that approach? Start locking more of our dependencies? Just do a better job staying on top of PRs?

The frontend in particular has so many dependencies and updates that it's a ton of overhead.

Pinging @maxkwallace @Nick

[2019-11-10 04:01] #72 closed

[2019-11-10 20:18] NickSchimek commented on #522
I can definitely configure the frontend to only bump security patches. It's what I've done on my other projects. @ForrestLonganecker what do you think?

[2019-11-11 15:55] ForrestLonganecker commented on #522
@NickSchimek I think that is not a bad idea. I have my projects set to alert for security updates and then I am able to update the others as needed. But I am open to other opinions!

[2019-11-12 01:11] KentShikama opened #538 "Replace error alert when logout and search endpoint fails with prettier UI"
The title says it all. Originates from #529.

[2019-11-12 01:19] #504 closed

[2019-11-13 09:08] KentShikama opened #545 "Fix KeyError: 'oeci_token' when user tries to search before OECI login"
The error message is as follows

[code]

We should never have a 500 server error. The simplest fix is to return a 40x error when the `oeci_token` is missing. Ideally we should make it impossible for the user to search before they login to OECI based on front-end flows.

[2019-11-13 18:54] wittejm commented on #453
completed with #526

[2019-11-13 18:54] #453 closed

[2019-11-15 05:13] keppel2 opened #555 "Cleanup of files that don't end in line feed"
Running this `find . -type f -exec echo -n {}, \; -exec hexdump -ve '/1 "%02X"' {}  \; -exec echo \; | grep -v 0A$` shows a few files that don't end in a line feed. This is in a category of text problems that can lead to issues later. There's no carriage returns in the entire repo--so that's good. This should only be considered complete when it's part of the automated tests.

[2019-11-15 22:53] KentShikama opened #560 "Ensure that 401 from OECI login doesn't logout user on frontend"

[2019-11-15 22:54] KentShikama opened #561 "Search component requires two clicks before search is triggered"

[2019-11-15 22:55] KentShikama opened #562 "Convert cookies to be secure=True for production setup"

[2019-11-16 00:27] #562 closed

[2019-11-16 19:57] NickSchimek commented on #522
Dependabot is set to never open more then 10 PR's. Unless there is a security update then dependabot creates a PR immediately regardless.

What I will do is setup the frontend to only receive security updates. And then we can update non-security updates every 6 months or so. We will just have to be diligent about it.

[2019-11-16 22:30] #522 closed

[2019-11-16 23:02] #561 closed

[2019-11-17 02:22] NickSchimek commented on #545
How can I duplicate this error?

[2019-11-17 02:24] KentShikama commented on #545
Do a valid search without logging in to OECI.

[2019-11-17 02:26] NickSchimek opened #567 "Connect frontend search component to backend search endpoint"
PR #566 Creates a search component, however it does not hit the backend when the search form is submitted, and instead retrieves a fixture.

[2019-11-17 02:29] KentShikama commented on #567
It is already connected. #566 just modifies the Case component to show more details about the Case than before.

[2019-11-17 02:31] KentShikama commented on #567
See https://github.com/codeforpdx/recordexpungPDX/pull/533

[2019-11-17 02:31] #567 closed

[2019-11-17 02:35] NickSchimek commented on #567
@KentShikama Thanks! I thought it was connected. Looks like Olli's PR wasn't rebase with master recently which explains why it wasn't working on his branch. Thank you.

[2019-11-17 03:00] KentShikama opened #568 "Clear redux state records when user switches away from search page"
Originally caught by @NickSchimek

"After logging out and then logging back in the last search result I did before I logged out was still displayed on the screen"

[2019-11-17 03:41] NickSchimek commented on #545
oh I see. We need to prevent access to search page when login creds don't exist. When that occurs it should redirect user to login screen. Thanks for reporting this! One thing I haven't done yet is play around with the UI. Great catch

[2019-11-17 04:01] KentShikama opened #569 "Add drop shadow between cases in search results"
See difference between search output of #566 (or eventually current master) and http://dev.huntermarcks.net/search/ .

[2019-11-17 17:45] hmarcks commented on #53
Completed, see http://dev.huntermarcks.net/account and http://dev.huntermarcks.net/admin/edit-user (also added edit account view)

[2019-11-18 02:38] #53 closed

[2019-11-19 04:13] #568 closed

[2019-11-19 06:37] NickSchimek opened #571 "Date format is too strict"
## Description

When entering the date for the month and day of month it requires two digits regardless if it's a single digit month or day.

<img width="823" alt="Screenshot 2019-11-18 22 36 41" src="https://user-images.githubusercontent.com/19519317/69122526-ea701a00-0a53-11ea-8e23-9497d5376beb.png">

### Todo:

 - [ ] Update the date field to accept single day and months

[2019-11-20 17:02] NickSchimek opened #573 "Remove time portion on dates"
## Description

Remove the time portion whenever a date is displayed.

<img width="330" alt="Screenshot 2019-11-20 08 58 14" src="https://user-images.githubusercontent.com/19519317/69260082-27cbc900-0b74-11ea-8529-06485d4d45e4.png">

This should not include a time, only the date needs to be included.

### To do:

- [ ] Normalize all dates to display the month day, year: `Sep 19, 2026`

[2019-11-20 17:10] NickSchimek opened #574 "Display spinner when searching"
## Description

The spinner shows when doing a search, however if a subsequent search is done the results page is not cleared, and it gives the appearance of being broken.

### To do:

When a subsequent search is performed the following should occur:
 - [ ] Clear all results on the page from previous search
 - [ ] Display spinner while waiting response from backend

[2019-11-21 03:31] #90 closed

[2019-11-21 10:00] KentShikama opened #578 "Fix case where disposition is not set"
Originally discovered by Michael Zhang.

Sometimes there are charges without a corresponding disposition in the OECI database. This will just crash the server saying that upon attempt at serialization disposition.date didn't exist as disposition was None.

[2019-11-21 22:25] NickSchimek opened #580 "Date of birth needs to be an optional argument"
## Description

Date of birth needs to be optional. The validations in the front end do not allow searches without a date of birth. The backend expunger does not place any restriction on this and allows searches without a birth date.

Note from client:

To do:
 -  [x] Remove the validation in the front end to allow searches without a birth date.

[2019-11-24 01:15] #43 closed

[2019-11-25 17:48] #27 closed

[2019-11-25 18:04] ForrestLonganecker commented on #184
@NickSchimek Does this relate to the paperwork that you were speaking about at the last meetup? @wittejm

[2019-11-25 18:10] wittejm opened #581 "Use "production" configuration in Prod environment"
The backend app launch script [src/backend/expungeservice/config.py](https://github.com/codeforpdx/recordexpungPDX/blob/master/src/backend/expungeservice/config.py) only uses `development` config because there is no `TIER` environment variable specifying that the heroku app should use a `production` configuration.
### This task is done when:
  -Create environment variable in heroku app `TIER=produ

[2019-11-25 18:11] wittejm commented on #42
The only remaining feature here has been moved to #581

[2019-11-25 18:11] #42 closed

[2019-11-25 18:13] wittejm commented on #119
Closed with #576

[2019-11-25 18:13] #119 closed

[2019-11-25 19:32] ForrestLonganecker opened #582 "Create reusable error component"
We are currently creating error related logic on a case by case basis. It would be helpful to have one way to handle errors.

### This task is done when:
 - There is an error component that will replace a failing component
 - The error component is connected to the store so we can move error handling into Redux/services

[2019-11-25 22:52] wittejm opened #584 ""Unknown type or time eligibility" in frontend search results"
Some records evaluated by the Expunger have the result:
[code]

The frontend Search results page doesn't handle this case when rendering a status label for the charge , so it shows the default value, "Unknown type or time eligibility"

[src/frontend/src/components/Eligibility/index.tsx](https://github.com/codeforpdx/recordexpungPDX/blob/master/src/frontend/src/components/Eligibility/index.tsx)

@N

[2019-11-26 00:09] KentShikama commented on #584
We currently abort all analysis when a person still has an open case. We need to handle cases where the status is "Bankruptcy pending" as closed.

[2019-11-26 00:48] KentShikama commented on #584
Although not relevant to person who originally triggered this issue to be opened, if there is a user who really does still have an open case, we would see a similar result.

[2019-11-26 00:56] KentShikama opened #586 "Handle case in which person has a record with an open case"
Currently the frontend search result of a person with an open case would be to have all charges that are type eligible shown as "Unknown type or time eligibility" as reported on https://github.com/codeforpdx/recordexpungPDX/issues/584.

Perhaps we should instead just have a the search result return a giant "there is an open case" banner at the top and show all time analyzer result areas as "Not an

[2019-11-26 01:29] ForrestLonganecker commented on #545
Just opened a PR that redirects on the client side if no OECI token is present.
#587

[2019-11-26 02:11] ForrestLonganecker commented on #580
@NickSchimek do you know if you are returned the same record information when searching for the same name with or without date of birth?

ie:
- first name: Dave, last name: jones, Birthday: null
- first name: Dave, last name: jones, Birthday: 10/10/1990

Will these both provide the same output? Or will records including birthdays only come up if the date of birth is entered with the search?

[2019-11-26 04:58] hmarcks commented on #586
@KentShikama the original plan was to show the disposition and time eligibility as open, similar to this mockup. I like the idea of a banner as well to make it more clear:

![open-charge](https://user-images.githubusercontent.com/6887982/69600655-13a22480-0fd7-11ea-9cda-effe6b79e45a.png)

cc @NickSchimek

[2019-11-26 07:08] NickSchimek commented on #184
@ForrestLonganecker and @wittejm Remind me to discuss this at the next meetup.

[2019-11-26 07:16] NickSchimek commented on #584
Yes that is the desired output as the time_eligibility would not be ran if there is an open case.

For your information: If the record has an open case then charges cannot be expunged. Hence, time analysis is not ran.

[2019-11-26 07:26] NickSchimek commented on #584
Hopefully there are not too many more case status types that we are unaware of. Of course we could always bypass that open case check upon user request.

[2019-11-26 07:29] NickSchimek commented on #584
It seems this was causing an error on the frontend? The frontend should default to ineligible charge if the preceding conditions do not pass. @KentShikama are you able to verify this logic?

[2019-11-26 07:37] NickSchimek commented on #580
No, that is not the case.

Yes and No. The client only uses birthdates for disambiguation. For example two people could have the same name. It is up to the client to determine which params to include. This functionality matches the OECI functionality. Hence, it should not be an issue.

The only param we are missing that OECI has is the middle name param. The backend is built to handle this. Howeve

[2019-11-26 07:44] NickSchimek commented on #586
It would probably be good to have a link on the banner to run the same request that will tell the backend to ignore the open cases. This would be good for those edge cases where the user knows there are no open cases, but our app is reporting that there is. They would still be able to get their analysis that way.

[2019-11-26 11:17] #578 closed

[2019-11-26 15:44] ForrestLonganecker commented on #580
Okay that makes sense, so to clarify:

If a name `A` is searched, it will provide all the records under that name.

If name `A` is searched again *but a birth day is included*, it will only show the records from above that have the matching date of birth

Thanks for the clarification!

[2019-11-26 16:21] KentShikama commented on #581
We do use `TIER=production` on heroku. See the config vars section on the heroku web app. Also see https://github.com/codeforpdx/recordexpungPDX/blob/master/src/backend/expungeservice/wsgi.py#L4.

[2019-11-26 16:21] #581 closed

[2019-11-26 18:15] ForrestLonganecker commented on #580
Fixed this issue with PR #589

[2019-11-26 18:15] #580 closed

[2019-11-26 18:42] wittejm commented on #584
If time analysis doesn't run for a given case it would be good to show the reason e.g. in the `time_eligibility_reason` field. Though if it's the same for all the cases because the record has an open case, this information could potentially go into the "summary panel" that has been mentioned as a new feature.

[2019-11-26 19:09] hmarcks commented on #586
Ohh I like it, here's what that could look like:
![open-charge-v2](https://user-images.githubusercontent.com/6887982/69664444-03795c00-104e-11ea-8899-2e3fba35fcd1.png)

[2019-11-26 19:16] hmarcks commented on #584
@wittejm there's a discussion about this in #586 if you want to check it out

[2019-11-29 22:30] wittejm opened #592 "A Dismissed DUII charge should be "Further Analysis Needed""
(edited to account for charges explicitly labeled as "diverted)"
- In general, any dismissed charge is normally expungeable.
- A DUII charge can be marked with a "diverted" disposition, meaning that it was a conviction that was reclassified to a dismissal because the defendant entered a recovery program or similar.
- In some cases a DUII charge can be marked "dismissed" even if it was diverted.
-

[2019-11-30 17:47] ForrestLonganecker commented on #91
As of #583 the user component is now fulfilling these requirements.

[2019-11-30 17:47] #91 closed

[2019-11-30 18:12] ForrestLonganecker opened #593 "Create "AddUser" Component"
Create a component that visually represents the `AddUser` component listed in the mockup:
http://dev.huntermarcks.net/admin/edit-user

The actual functionality of interacting with the backend (responding to clicks on buttons within the `AddUser` component) should be handled in a separate issue (create it if you want to work on it).

### This task is done when:
 - The component visually matches the

[2019-11-30 18:13] ForrestLonganecker opened #594 "Create "EditUser" Component"
Create a component that visually represents the `EditUser` component listed in the mockup:
http://dev.huntermarcks.net/admin/edit-user

The actual functionality of interacting with the backend (responding to clicks on buttons within the `EditUser` component) should be handled in a separate issue (create it if you want to work on it).

### This task is done when:
 - The component visually matches t

[2019-11-30 18:18] hmarcks commented on #593
Wireframes for more context around the whole users flow:
![user-account-wireframe](https://user-images.githubusercontent.com/6887982/69019529-a78c4480-0976-11ea-853d-4c69937e0deb.png)

Accessible validation technique: https://www.w3.org/WAI/WCAG21/Techniques/aria/ARIA19

[2019-11-30 18:18] hmarcks commented on #594
Wireframes for more context around the whole users flow:
![user-account-wireframe](https://user-images.githubusercontent.com/6887982/69019529-a78c4480-0976-11ea-853d-4c69937e0deb.png)

Accessible validation technique: https://www.w3.org/WAI/WCAG21/Techniques/aria/ARIA19

[2019-11-30 18:49] ForrestLonganecker commented on #64
## The `Search` component now does the following:
- Populate with empty search form
- Validates form upon search
- Displays validation errors
- Displays loading spinner
- Displays either "No search results." or returned search results

## ToDo:
- Add drop shadow #569
- Handle "Unknown type or time eligibility" #584 / #586
- Make Date format less strict #571

@hmarcks @maxkwallace @wittejm  It may

[2019-12-01 04:08] NickSchimek commented on #592
Thanks for putting this together @wittejm
My understanding of Oregon law is that only a DUI charge can be diverted. Is that assumption correct? or can other traffic charges (reckless driving) also be diverted?

I also found that statute 813011 is a Felony DUI charge, is it possible there are other statutes, possibly statutes no longer in use due to previous revisions, that should be classified as

[2019-12-02 02:05] hmarcks opened #599 "Update logo"
![logo_2x](https://user-images.githubusercontent.com/6887982/69925986-22298980-1478-11ea-9f07-a52288a1048c.png)

**A more memorable and lively logo**
• Oregon’s state bird, the Western Meadowlark
• Birds represent freedom - we're creating this software to make people more free
• This bird is flying fast - the main goal of our software is to increase the speed of expungement analysis

This issue up

[2019-12-04 00:33] wittejm opened #601 "Classify a disposition more accurately"
For the purposes of expungement, a charge can be ruled as "convicted", "dismissed", or "no complaint".

Legally speaking, "dismissed" and "acquitted" have separate definitions. But for expungement they are considered the same and we call both of those dismissals.

In the OECI database, multiple different `ruling` strings on the Disposition can be interpreted as convictions:

- "Convicted"
- "Findi

[2019-12-04 06:12] #599 closed

[2019-12-04 06:21] #584 closed

[2019-12-04 19:46] #261 closed

[2019-12-04 19:57] ForrestLonganecker opened #602 "Use "loading button" when waiting for login response"
### This task is done when:
 - The `<LogIn />` component renders a loading button when waiting for login response

Reference the design system under "Buttons" -> "Loading Button":
http://dev.huntermarcks.net/design-system/

This is one piece of the main login integration #75

[2019-12-04 20:00] ForrestLonganecker opened #603 "Use "loading button" when waiting for forgot password response"
### This task is done when:
 - The `<ForgotPassword />` component renders a loading button when waiting for login response

Reference the design system under "Buttons" -> "Loading Button":
http://dev.huntermarcks.net/design-system/

This is one piece of the main login integration #75

[2019-12-04 20:30] ForrestLonganecker opened #604 "Use "loading button" when waiting for password reset response"
### This task is done when:
- The `<PasswordReset />` component renders a loading button when waiting for login response
- On success it redirects to the `<LogIn />` component

Reference the design system under "Buttons" -> "Loading Button":
http://dev.huntermarcks.net/design-system/

This is one piece of the main login integration #75

[2019-12-04 21:58] wittejm opened #605 "Disposition Date is labeled with "Convicted" even on Dismissed charges"
Every charge that is rendered in the frontend search results says "Convicted" for the date even when the charge is a dismissal. Here is a screencap example of the current format.

It should instead say something more accurate, either "Date", "Date of Disposition", "Date of [Conviction/Dismissal]", etc.

I'm pretty sure this is just a one-line change in :
https://github.com/codeforpdx/recordexpungP

[2019-12-05 02:12] hmarcks commented on #594
Based on PR #606, grbarker is working on this

[2019-12-05 02:12] hmarcks commented on #593
Based on PR #606, grbarker is working on this

[2019-12-06 00:36] wittejm commented on #592
I found that Oregon Chapter 813 covers DUIIs. To my untrained eye everything except for 813010 concerns enforcement and punishments and stuff (including 813011, which is a "prior DUIIs" condition).

More details:

The Expungement statute just refers to "An arrest or citation for driving while under the influence of intoxicants" and not the particular statute or chapter.

I found a few occurrences

[2019-12-07 19:11] #592 closed

[2019-12-07 20:09] hmarcks commented on #605
I had the mockup show "Arrested" for the date, which I believe Michael signed off on. Can we get the arrested date or only the date it was dismissed?

<img width="650" alt="Screen Shot 2019-12-07 at 2 05 25 PM" src="https://user-images.githubusercontent.com/6887982/70380067-208a1680-18fb-11ea-9e9e-db31fe9f1e1a.png">

[2019-12-07 20:11] wittejm commented on #605
Currently the date comes from the final Disposition entry which is either convicted or dismissed. I like the idea of getting the Arrested date but that will require some refactor on the backend.

[2019-12-07 20:23] wittejm commented on #605
Oh hold on that is incorrect. Sorry. There is a date in the search result (returned by the endpoint) that  associated with the charge and not the disposition. Maybe this is the date of arrest? @NickSchimek

[2019-12-07 20:26] NickSchimek commented on #605
@hmarcks @wittejm Yes, that is not a problem, the arrest date is available. The date of arrest is the date the case is opened, which is available as `case.date` or `charge.case.date`

[2019-12-07 20:28] NickSchimek commented on #605
Yes @wittejm you are correct. `charge.date`

[2019-12-07 20:30] NickSchimek commented on #605
The case.date is actually the date that it was filed. so it is charge.date

[2019-12-07 22:19] darenschaad opened #611 "Create "TermsOfUse" Component"
Currently when a user clicks on the terms of use link, it directs them back to the login page. It should instead direct them to the terms of use page

### This task is done when:
 -Clicking on the "terms of use" link takes the user to the appropriate page

[2019-12-08 23:36] #545 closed

[2019-12-09 04:29] NickSchimek opened #616 "Create PR Template"
Whenever there are PR's that enhance/fix the expungement logic then the CHANGELOG should also be updated. Create a PR template that reminds contributors to update the CHANGELOG with their PR.

@wittejm Perhaps we want to capture other changes in the CHANGELOG too?

[2019-12-09 04:30] NickSchimek commented on #616
Here is the documentation page for creating a PR template https://help.github.com/en/github/building-a-strong-community/about-issue-and-pull-request-templates

[2019-12-09 04:45] KentShikama opened #617 "Convert all model classes under models/ to Python dataclasses"
This task is almost done but I am writing this out for the purposes of documentation.

Under models/, we define a number of classes that builds up the Record object. As we try to squash bugs that come through from the production pipeline, it helps to be able to quickly identify what model we are operating with, what type its fields are, and have a clear string `__repr__` for each model when debugg

[2019-12-09 17:22] wittejm commented on #616
Yea, IMO the changelog only needs to show frontend fixes and expungement logic enhancements/fixes, since it's really a document for users and the devs can see everything through commit history.

[2019-12-09 17:24] #571 closed

[2019-12-09 17:26] #574 closed

[2019-12-09 17:28] #605 closed

[2019-12-09 19:29] wittejm opened #618 "A case with a conviction or dismissal is closed even if it has "Active" status"
For some cases the OECI page wrongly lists the status as "Active" in the list of search results, even if the case is closed. If all the charges in a case have a conviction or dismissal in their disposition, the case should be considered closed so that the expunger time analysis runs correctly.

### This task is done when:
 - the `Case._closed()` method returns `True` if the disposition ruling on e

[2019-12-09 23:26] wittejm opened #619 "Time eligibility reasons are inconsistent"
The time eligibility reasons are inconsistent between the mockup, the logic flowchart, and the existing output from the TimeAnalyzer.

Namely, in the flowchart some of the time-constraint labels include  "Time-ineligible under [statute-subsection]", while some others say , "eligible at [date]".

The mockup and time analyzer both use some inconsistent / confusing wording IMO. For example the reason

[2019-12-10 00:29] wittejm commented on #619
So, just because there are a bunch of ways to write this and I want to shoot for consistency more than anything, and partly to demonstrate that I think trying to make it really clear is a pain in the butt, here's a different set of reasons. Arguably, these phrases fit more naturally into reading the entry as  "Eligible at [date] because that date is...[reason]:

- Ten years from most recent convic

[2019-12-10 00:49] wittejm opened #620 "Unclassified charges should always have type eligibility NEEDS_MORE_ANALYSIS"
An acquitted unclassified charge is inaccurately marked as eligible.

### This task is done when:
 - Unclassified charge has type eligibility  `NEEDS_MORE_ANALYSIS` even when it is acquitted.
 - Test case updated

[2019-12-10 00:51] wittejm commented on #601
More types that can come from OECI: "converted" and "conversion" should both be interpreted as convictions

[2019-12-10 18:13] wittejm opened #621 "Date of a convicted charge should show conviction date"
This is a correction related to #605 . The [mockup](http://dev.huntermarcks.net/search/) shows the date of conviction if the charge resulted in conviction, whereas it shows the date of arrest for other charges. This makes sense because eligibility dates are computed based on these dates, rather than always depending on one or the other.

[2019-12-10 20:27] NickSchimek commented on #387
@aemrich Here is the tests that are needed to check correct behavior is implemented.
[code]

[2019-12-10 21:26] wittejm opened #624 "Add a repealed statute that qualifies as a PCS charge"
The statute [475.992 ](https://www.oregonlaws.org/ors/475.992) used to describe a PCS charge but has been repealed/renamed. Since it still exists in OECI records applying to PCS, we should classify it accordingly.

The OECI records actually list, for example, 4759924A and 4759924B under this statute, which refer to its subsections. So when we check to see if a charge matches the statute we could e

[2019-12-10 23:39] KentShikama opened #625 "Convert Disposition date field to not be Optional"
There are still locations in which the default `None` argument is not overridden:
- https://github.com/codeforpdx/recordexpungPDX/blob/master/src/backend/tests/models/test_charge.py#L64
- https://github.com/codeforpdx/recordexpungPDX/blob/master/src/backend/tests/models/test_charge.py#L70
- https://github.com/codeforpdx/recordexpungPDX/blob/master/src/backend/tests/models/test_charge.py#L76

Moreo

[2019-12-11 02:52] NickSchimek commented on #624
Thanks @wittejm This is related to issue #169

[2019-12-11 02:59] NickSchimek opened #627 "Refactor the unit tests for the charge models"
## Description
When the type analyzer was removed/refactored the tests for the type analyzer were not refactored too. Some previous PR's have refactored the tests into their on files for unit testing each of the different charge types, but there are still some charge types remaining.

## Task
Finish refactoring the unit tests for the models

### Additionally
Update the schedule1PCS tests to includ

[2019-12-11 03:05] #624 closed

[2019-12-11 04:20] hmarcks commented on #619
It looks like I had different language in the actual HTML than the mockup in the story, but I included the original proposal (v1) and added your suggestions (v2) (also updated the open case scenario).

I'm down with you proposal, but let's get Michael and Nick's feedback too. Thanks!

![time-eligibility-language](https://user-images.githubusercontent.com/6887982/70591290-3b7ab600-1b9b-11ea-8747-18

[2019-12-11 17:20] wittejm commented on #601
This field be the one that is read by the frontend to determine convicted/not convicted status (related to PR #622 ), rather than redundnantly parse the `ruling` string

[2019-12-11 17:20] #621 closed

[2019-12-11 19:12] #573 closed

[2019-12-11 20:57] #620 closed

[2019-12-11 20:57] wittejm commented on #620
closed with #623

[2019-12-11 21:16] wittejm opened #630 "Add SearchResultsSummary Component in React"
A new component will provide summary data about search results, appearing above search results details.

The mockup for this feature is below. Use the HTML from http://dev.huntermarcks.net/search // [here's the relevant commit](https://github.com/hmarcks/expunge-pdx-frontend/commit/e62e80ee7ff9dac2c71c8d30679f7dc0513c1efc)

### This task is done when:
 - SearchResultsSummary component is implement

[2019-12-11 21:39] wittejm opened #631 "Add search results summary data to /api/search/ endpoint response"
This is the backend feature required to support the new frontend SearchResultsSummary component described in #630 .

The new data fields look like this:
[code]
### This task is done when:
 - The JSON response data includes these new data fields. The fields could be wrapped in a `results_summary` object which exists adjacent to the `record` field on the endpoint response object, so that the `record

[2019-12-12 04:05] NickSchimek commented on #358
Further clarification. This is needed because the case may have a disposition, but OECI failed to properly log it.

[2019-12-12 12:06] KentShikama opened #634 "Make Records generated from hypothesis more realistic"
See https://github.com/codeforpdx/recordexpungPDX/pull/610#pullrequestreview-328581915

[2019-12-12 21:00] wittejm commented on #634
I was thinking of having this more realistic data for the purpose of supporting/testing frontend development, but actually I don't know if hypothesis is the easiest way to do that.

[2019-12-12 21:17] wittejm opened #636 "Add levels of eligible charges to saved search results"
In our search results we save the number of charges and the number of eligible charges found on a record. But we also want to count the charges by type, according to the [project requirements document](https://docs.google.com/document/d/1H9m1Xa8yDcMbR-MhD5VZSI3J_oq91Kpdw1TMM0qvZrs/edit)

### This task is done when:
 - add the following columns to the SEARCH_RESULTS table: num_eligible_felonies, nu

[2019-12-12 22:51] wittejm commented on #619
I checked in with Michael and he likes the idea. @NickSchimek what do you think?

[2019-12-13 02:13] KentShikama opened #638 "Consolidate documentation across the project"
Currently, we have 3 different locations that seem to give various details about the project:

- https://codeforpdx.github.io/recordexpungPDX/
- https://github.com/codeforpdx/recordexpungPDX/wiki
- https://github.com/codeforpdx/recordexpungPDX/tree/master/doc

We should stick to one location or else it becomes confusing: I've been on the project for 2 months now but I only discovered last week abo

[2019-12-13 02:52] hmarcks commented on #638
Agreed. I vote for the wiki but am fine with any.

[2019-12-13 04:28] NickSchimek opened #640 "Automate error log notifications"
## Description
Currently logs are generated when there is an issue. We are notified by the client when an error occurs to check the logs.

It would be best to automate the notification process so that when an issue occurs we are notified automatically.

Currently we have log files that are generated, however there are no automated ways to check these files. Heroku offers a task scheduler that we c

[2019-12-13 04:36] KentShikama commented on #640
I don't think it will hurt to have. We haven't really been doing emergency hot fixes yet and we haven't really come across situations where we couldn't reproduce an issue with just a few parameters/names from Michael. But in the future this could become higher priority.

[2019-12-13 23:40] #601 closed

[2019-12-13 23:45] wittejm opened #641 "Pytest will block on an open db connection in some edge cases"
When test cases fail while a db connection is open, it can leave the connection open, blocking a subsequent connection and causing the whole test battery to hang.

### This task is done when:
 - rollback any db ops in the test cases when it throws an error
 - the @rollback_errors decorator from db_utils might work here

[2019-12-14 01:50] wittejm opened #642 "Refactor convicted and acquitted methods on Charge"
The methods `convicted()` and `acquitted()` on `Charge` should just be based on `DispositionStatus`.

~~While we're at it, rename `acquitted` to `dismissed` to more closely match the other code and language used in the project. The name `dismissed` isn't quite accurate either because it will include both `dismissed` and `no compaint` charges. This deserves a larger refactor across several project

[2019-12-14 04:19] wittejm commented on #642
This should have expanded test cases. A simple replacement with
[code]
makes all the tests pass.

The above functions both return `False` if the disposition is Diverted. However, the exunger logic treats acquitted/convicted as a boolean:

https://github.com/codeforpdx/recordexpungPDX/blob/67c4bcc745cb5d4cbbb0c1179a36bf5b7617b5a3/src/backend/expungeservice/expunger/expunger.py#L88

This needs more

[2019-12-14 05:42] NickSchimek opened #647 "Case Parser crashing due to non-standard charge info table"
## Description
Issue found by @ForrestLonganecker and reported by @wittejm

Reported that the parser was crashing. Upon further inspection the case parser was crashing due to a non-standard charge info table.

The table has extra <th> tags and empty <td> cells.

### Todo:
 - [ ] Update the state parser for the charge info table to skip <th> tags and <td> tags containing whitespace

Will create ano

[2019-12-14 19:51] wittejm commented on #618
This can be completed after PRs #645 and #648 have been completed and merged

[2019-12-14 20:16] wittejm opened #650 "Display the latest version number, launch date, and link the changelog"
### This task is done when:

 - Include the current version number and a link to the changelog document in the github repo.
 - Show the date of the last release. Ideally this is automatically updated with every push of a new version.

[2019-12-14 22:26] wittejm commented on #641
A workaround: when pytest hangs, you can kill the database externally with `make dev_down`. That at least will let pytest resume and spit out the error that cause the blockage in the first place.

I got super stuck trying to solve this one. Just wrapping the db ops with try/catch/finally described above  didn't do it.

[2019-12-14 22:42] wittejm opened #651 "B felonies are ineligible if there are any subsequent arrests/convictions"
The currently expunger logic incorrectly applies time eligibility to Class B felonies.
The rule is: If a conviction is a B felony and doesn' qualify for expungement under any other rule, it is eligible only if 20 years have passed from the date of conviction AND the record has no other arrests or convictions following the B felony conviction

The logic fix should happen here in the time analyzer:

[2019-12-15 00:55] wittejm commented on #641
A way to reproduce this error:
Comment out this line, which will break the /api/search endpoint tests:
https://github.com/codeforpdx/recordexpungPDX/blob/67c4bcc745cb5d4cbbb0c1179a36bf5b7617b5a3/src/backend/expungeservice/models/disposition.py#L23

Then run the tests with `pipenv` and not in the docker container:
- in src/backend, run `pipenv install` then `pipenv run pytest`

This will cause the

[2019-12-15 00:55] KentShikama commented on #76
One possibility is to link to https://open-pixel-art.com/ .

[2019-12-15 20:38] wittejm commented on #641
Specifically, the DispositionStatus serialization fails which happens to be in the portion of flask that creates the response object that wraps the serialized data object.

This is such a weird edge case that it's ultimately just a slightly-harder to diagnose error --and in particular, an error that has been already fixed and I only wanted to write this issue because a similar error *might* show u

[2019-12-15 20:38] #641 closed

[2019-12-15 21:42] wittejm opened #652 "Charges with missing or unknown dispositions are record errors"
A case with a missing or unknown disposition on a charge can be closed but still affect time eligibility with unknown impact. The charge could be either convicted or dismissed which can make a big difference for expungement eligibility of other records. This error should be attached to the record and reported in the frontend, with an informative warning message, like: "This record has charges with

[2019-12-17 01:29] wittejm opened #654 "A single violation conviction isn't enough to block time eligibility"
This is to fix a reported expunger logic bug.

The rule is: a prior conviction within 10 years normally blocks eligibility of other expungements, but this only counts convictions of misdemeanor level or above. It takes two violations within the last 10 years to block eligibility of other expungements, and the date of eligibility is 10 years following the date of the older conviction.

This impleme

[2019-12-17 01:35] wittejm commented on #654
I haven't looked super closely yet at what needs to be done in the expunger logic. The expunger is checking for violations when assigning the MRC, here
https://github.com/codeforpdx/recordexpungPDX/blob/244a8d947098ce310f4dd52b0e9a673678e8f979/src/backend/expungeservice/expunger/expunger.py#L106

but the live use-case and the unit tests are not currently passing.

[2019-12-17 01:39] wittejm commented on #654
Oh. the comparison `level == "Violation"` is an exact string comparison whereas `level` can say "violation class C", et al, so it might be enough to just set that: check whether `"violation" in level.lower()`

[2019-12-18 13:22] KentShikama opened #655 "Refactor CaseParser to use BeautifulSoup with the lxml parser backend"
I believe we need to revisit [the decision to not touch the case parser](https://github.com/codeforpdx/recordexpungPDX/pull/556#pullrequestreview-317798777).

- In a meeting yesterday, Michael requested a feature to display relevant practical information relating to the county of the case such as "X county requires a fee waiver form for each individual charge." This will involve modifying the case

[2019-12-18 13:25] #617 closed

[2019-12-18 15:52] NickSchimek commented on #655
FYI: This information is available as `case.location`

agreed.

Can you send me an example of this that I can view. I haven't seen an example of a charge with multiple dispositions.

The main reason for not touching the parser was that at that time we were rolling out a release. Now that the release has been rolled out. I say go ahead, and do whatever you and @wittejm  decide on.

[2019-12-18 16:01] KentShikama commented on #655
Ah, thanks for the catch. I was too focused on the Case Parser and didn't realize it was injected from the records page.

Will do.

Great!

[2019-12-18 18:17] wittejm commented on #655
This sounds good to me.

[2019-12-18 18:46] KentShikama opened #656 "Handle additional <th> inside event tables"
The following event table appends two list entries in `event_table_data` even though the intent was probably only to insert one because of the additional `<th>` inside the event table. As far as I can tell, this doesn't cause any visible issues to the user but it does cause a lot of the `assert len(self.parser.event_table_data) == X` checks to be longer than what they should be.

[code]

Here is a

[2019-12-18 19:53] #647 closed

[2019-12-18 19:55] NickSchimek commented on #87
@SteelFace87 is this complete? Or is there still work to be done?

[2019-12-18 20:02] #656 closed

[2019-12-18 21:04] wittejm opened #658 "Extend OECI credentials cookie lifetime"
A project spec document from Michael [here](https://docs.google.com/document/d/1H9m1Xa8yDcMbR-MhD5VZSI3J_oq91Kpdw1TMM0qvZrs/edit) suggests that OECI logic remain valid for up to two hours. Testing so far with the existing 15-minute expiration has proven to be a hassle. Let's extend it! Here's the relevant code:

https://github.com/codeforpdx/recordexpungPDX/blob/325c30d3f45f0b9a2382dc0380a0bf93089

[2019-12-19 02:25] hmarcks commented on #652
When there's a missing/unknown disposition, we could notify the user of this and give them the option of running analysis with the charged marked as convicted or dismissed (similar to #586 where you run analysis ignoring the open case). Does that sound reasonable?

[2019-12-19 02:29] hmarcks commented on #586
I wonder if a better approach is to give the option to mark any open charges as either convicted or dismissed, and possibly add a date to give an estimate with the open case considered. I think just ignoring the charge gives an accurate picture of what could be expungeable because the case will eventually have to be considered. It's obviously more involved but thought I'd throw it out for consider

[2019-12-19 05:49] wittejm commented on #586
@hmarcks I think that (also applied to #652) would be an awesome feature.

Showing a warning and skipping the open cases or missing disposition errors in the analysis seems like an ok (not great) stopgap for the issue. And in fact the expunger can always do the time analysis, and the frontend can just check whether there are errors attached to the record. If there are errors, it can show the infor

[2019-12-19 05:55] #658 closed

[2019-12-19 20:45] hmarcks commented on #630
Created the HTML/CSS and updated the description

[2019-12-19 22:20] wittejm commented on #630
@hmarcks Awesome, thank you!

[2019-12-20 05:53] #560 closed

[2019-12-20 19:47] wittejm opened #666 "Results should show the arrest date even on a convicted charge"
Emilie (our new test user) said that the arrest date of a conviction is required information even though it doesn't directly effect expunger logic.

The lines that currently say

**Disposition:** Convicted
**Convicted:** Mar 7, 1989

Could be updated to say:
**Disposition:** Convicted - Mar 7, 1989
 **Arrested:** Jan 1, 1988

While the dismissed charges should probably omit the disposition date st

[2019-12-20 20:03] wittejm opened #667 "Reading Non-Disposition Events from OECI"
In a few cases, the Disposition doesn't provide conviction/dismissal info and only says "Conditional Discharge" or something, and you can see that the charge was either dismissed or convicted in the Sentence or the Amended Disposition.

For now, the charges with these dispositions are marked as "needs more analysis" but we could infer the exact eligilibility from the other events on the record.

I

[2019-12-20 20:12] KentShikama commented on #667
This is one of the reasons I've pressed to refactor the case parser (https://github.com/codeforpdx/recordexpungPDX/issues/655).

[2019-12-20 20:14] wittejm commented on #667
Oh, yes good.

[2019-12-20 20:35] wittejm commented on #667
I'll update the bug reports page

[2019-12-20 20:35] #667 closed

[2019-12-21 08:00] NickSchimek commented on #655
@KentShikama in regards to your comment

I would re-evaluate your time analysis of the case expunger. setting up a simple speed test of the case parser shows that it takes 2.9 seconds to parse 150 cases. The additional 12 seconds that you see when running it live is most likely coming from the 100 get requests that is required. Further work on issue #260 is most likely needed to see a significant

[2019-12-23 04:02] hmarcks commented on #586
I like the stopgap idea of a default disposition of *convicted* for unknowns (as long as it's clearly disclaimed like you mention). I think it's better than ignoring because that will never be a real scenario. Although wouldn't we need a convicted date to get an accurate time eligibility result?

Here's what it could look like if we added the ability to override disposition which includes a date i

[2019-12-24 14:50] wittejm commented on #642
Closed with #648

[2019-12-24 14:50] #642 closed

[2019-12-26 01:21] alaymodi commented on #640
Hi, I'm new to the codebase but am interested in working on this project. Is this issue still open/unassigned

[2019-12-26 06:21] KentShikama commented on #640
@alaymodi This issue won't really touch the codebase itself, and so I wouldn't recommend it as a first task. I would recommend https://github.com/codeforpdx/recordexpungPDX/issues/100 but tell us if you want to press on with this task regardless as it may require giving you some background on our production and Slack setup.

[2019-12-26 21:01] alaymodi commented on #640
Sure! Ill check out that one first and will get back to you on this

[2019-12-28 20:38] hmarcks commented on #569
Added drop shadow, added a missing color definition, and added style to the scenarios where we are missing type analysis.

[2019-12-29 01:50] #569 closed

[2019-12-31 01:40] KentShikama commented on #655
Indeed. I shouldn't have simplified the problem to measure the serialized version as that is measuring something very different.

[2020-01-01 00:50] wittejm commented on #654
closed with #668

[2020-01-01 00:50] #654 closed

[2020-01-02 20:58] hmarcks opened #680 "Transfer landing page and move login"
The landing page to promote our technology is already built here: https://codepen.io/hmarcks/full/GRgvaga. Take the HTML & CSS and transfer it to our project. The new css is highlighted in the comments.

Our current login view is at https://recordexpungpdx.herokuapp.com - the new landing page should be located here, and the login page moved to /login.

### This task is done when:
 - The landing pa

[2020-01-03 00:37] wittejm opened #681 "Bug: A single violation doesn't receive the 3-year time eligibility constraint"
The time analyzer sets time eligibility based on assigning the MRC (most recent conviction) and second-most recent conviction. A record with only a single violation conviction doesn't get assigned an MRC, and the violation is never given the correct time eligibility constraint.

The open PR (#682 ) shows the test case that fails without the fix. (The PR includes the bugfix to the expunger as well)

[2020-01-03 01:28] wittejm opened #684 "Display an error banner with message if Record object has an error"
The Record object returned by /api/search has an error field which has the message text for the error, if there is one. The frontend can just check for this message and display it in a banner per the mockup linked in #586

This issue is a small code change, and is a required piece for #652, #586. Those issues describe larger feature enhancements but this is an incremental improvement.

[2020-01-03 16:48] #651 closed

[2020-01-04 00:11] wittejm commented on #358
Type eligibility based on a missing or unrecognized dispo should still be Needs More Analysis, and is set here:
https://github.com/codeforpdx/recordexpungPDX/blob/a40b678af5ef523996f7a3cc81d93b339d24def2/src/backend/expungeservice/models/charge.py#L28

Although the rest of this issue will be resolved by #686

[2020-01-04 00:25] wittejm opened #687 "Feature: User can interactively assign dispositions that were missing or unrecognized"
This is a large-ish scale feature.

When there are record errors due to missing/unrecognized dispositions, the time analysis for the rest of the record is potentially inaccurate and the user needs to be warned about this.

These dispositions might be known to the user even if they are missing in OECI, or they might just be a typo in OECI that is still human-readable. A fairly sophisticated solutio

[2020-01-04 17:53] #684 closed

[2020-01-04 17:54] #666 closed

[2020-01-05 23:36] #652 closed

[2020-01-06 19:07] #681 closed

[2020-01-06 19:37] wittejm opened #688 "Display type of charge"
The frontend prototype has the Type of charge showing only for cases that have undetermined eligibility.

![example_type_eligibility](https://user-images.githubusercontent.com/2104990/71842907-94911900-3077-11ea-8195-4cc7ca8d0b43.png)

It should always show charge type, so the result above should instead say, e.g:

**Type:** PCS
(Eligible under 123.456)

**Type: DUII**
(Possibly eligible under 234

[2020-01-07 23:03] wittejm opened #694 "Display the disposition ruling when it is unrecognized by the parser"
We classify dispositions mostly into convicted, dismissed, unknown, and a few others. Unknown is the default with the `disposition.ruling` is unrecognized and is something weird like "accusatory instrument withdrawn"

We should show more accurately what is going on here when we display the results.

The Disposition line should say:

**Disposition**: Unrecognized ("Accusatory Instrument Withdrawn")

[2020-01-07 23:52] wittejm opened #695 "Link in-page to individual case entries in error banners"
The error messages for open cases and missing/unrecognized dispositions show the relevant case numbers. Those case numbers should be links that link to the case detail that is further down the page in the Search Results.

EDIT: The in-page links in the Summary panel are working as expected. Because the error banner is generated in the backend, this is probably where we want to generate the html li

[2020-01-08 05:28] wittejm opened #699 "Split 800-level traffic crime charge type between violations and non-violations"
Most traffic crimes on records are violations and are always ineligible. But traffic offenses that are not violations are eligible if they are dismissed.

The expunger handles this correctly, but they're all called "800 Level Traffic Crime" and the eligibility rule within the charge type is complicated. traffic crimes are all classified the same way, whether they are violations or higher-level.

T

[2020-01-08 21:03] wittejm opened #701 "Make the "open cases" error banner more informative."
A small change: add "Time analysis is ignoring these cases and may be inaccurate for other charges."

### This task is done when:
 -
 -

[2020-01-08 21:06] wittejm commented on #385
There are still some record results that have this bug, listed on the expungement the bug reports page

[2020-01-08 21:11] wittejm opened #702 "Time-ineligible Class B Felony should display as "ineligible""
The backend correctly says that this charge is "always time-ineligible", but the frontend should render this with a red "Ineligible" label, while the type-eligibility remains unchanged.
![b_felony_with_subsequent_charge](https://user-images.githubusercontent.com/2104990/72016186-2c2d6d80-3218-11ea-8475-6ed6c63e4d70.png)

[2020-01-08 21:47] wittejm opened #703 "Charges on an open case should show time analysis"
charges on an open case are skipped in time analysis, as expected. But their own time eligibility should note that they are on an open case
![open_case_without_time_analysis_censored](https://user-images.githubusercontent.com/2104990/72018950-85e46680-321d-11ea-8e74-ebb3bcd56433.png)

[2020-01-08 22:32] wittejm opened #704 "Rename "unknown" dispositions to "unrecognized""

[2020-01-08 23:50] wittejm opened #705 "Classify a disposition using additional "Disposition events" when necessary"
There are a few dispositions like "Conditional Discharge" that do not specify whether the charge was convicted or dismissed. Sometimes the dismissal/conviction info is available instead in additional  "Disposition events" that are tied to the charge, such as  "Amended Disposition"

### This task is done when:
 - When the disposition on a charge gets classified, and the main Disposition event is un

[2020-01-09 00:50] wittejm opened #708 "Show type-eligibility even if disposition is missing/unrecognized"
Some charge types are always type-eligible, or always type-ineligible, regardless of whether the charge was dismissed or convicted. For example, traffic violations or parking tickets (always ineligible), or Misdemeanors (always eligible) .

![missing_dispo_but_still_ineligible](https://user-images.githubusercontent.com/2104990/72027905-84269d00-3235-11ea-99ee-880b317bfe32.png)

We recently made a

[2020-01-09 01:32] #625 closed

[2020-01-09 18:48] wittejm commented on #688
Closed by #698

[2020-01-09 18:48] #688 closed

[2020-01-09 19:12] wittejm commented on #708
So, my first thought was just to edit the examples above, in which certain charge types are not "needs further analysis" when the dispo is known. But I realized while we're at it, every charge with invalid disposition can have a more informative message, e.g. if the dispo on PersonCrime is unrecognized, we could still say:

[code]

[2020-01-09 19:47] wittejm opened #711 "Redirect http requests to https"
The app will load but doesn't work properly if the user provides the url with http.

Heroku doesn't automatically redirect http requests, but we can achieve this either by adding a redirect block to the nginx config, or configuring the the react app to handle it.

[2020-01-09 19:49] #694 closed

[2020-01-09 19:50] wittejm commented on #704
closed with #710

[2020-01-09 19:50] #704 closed

[2020-01-09 20:42] wittejm opened #712 "If a case is "open" and it has missing dispositions, it shows redundant error messages"
Sometimes a case is identified as "open", but it has all the required disposition information so the expunger can still run analysis on it. This occurs sometimes as an OECI data error, but the inconsistency should still be pointed out to the user.

If a case is actually open and there is no disposition on the charges yet, it will report the "Open Case" error, and also the "missing dispositions" er

[2020-01-10 00:42] wittejm commented on #703
closed with #707

[2020-01-10 00:42] #703 closed

[2020-01-11 00:00] #701 closed

[2020-01-11 00:00] #712 closed

[2020-01-11 00:31] #702 closed

[2020-01-11 01:43] wittejm opened #717 "Determine overall charge Eligibility in the backend"
There are 5 different kinds of overall charge eligibility, which is a function of both the time and type eligibility:

- Eligible now
- Will be eligible (date)
- Possibly eligible now
- Possibly will be eligible (date)
- Ineligible

In the interest of moving expunger logic to the backend, and reducing risk of data errors that can be received by the frontend, we can tag charges with this overall el

[2020-01-11 01:54] wittejm opened #718 "Two violation convictions on a record don't block each other"
There is currently not a test case for this. In the current expunger logic, the second-most recent violation conviction becomes the `most_recent_conviction`,  and then that charge is used to tag all the other charges on the record as time-ineligible, including the most recent violation.

But, the rule ( subsection (7)(b) in the statute) is that it takes 2 other violations to time-block any charge

[2020-01-13 18:24] wittejm commented on #634
Changed my mind:  we don't need much plausible fake data, -- only enough to demo the app, and these can be selected from real anonymized  examples or put together by hand. So, closing this issue

[2020-01-13 18:24] #634 closed

[2020-01-13 21:46] wittejm opened #719 "Update case header in results"
The case header information in the search results page needs to be updated to reflect the current app design:
http://dev.huntermarcks.net/search/

Namely, field names and values for each case should appear on separate lines. Also this header should include the County name provided for the charge, which is in the `case.location` field of the json object provided by the API.

[2020-01-14 19:58] wittejm commented on #619
Since we're working to add applicable statute sections to type eligibility reasons, we should add statute references to these reason strings also.

[2020-01-14 20:25] #717 closed

[2020-01-15 01:43] wittejm opened #722 "Provide multiple search criteria in one search request"
A single person can have records that only appear in OECI under distinct aliases, and we'd like to have all of that person's records retrievable into a combined search result.

The frontend should have the option to repeatedly add additional search criteria, e.g. with a small [add] button, that expands the search panel with a copy of the input fields on a new line.

The backend will need changes i

[2020-01-15 02:01] wittejm opened #723 "Improve the error message for a Heroku timeout error"
Heroku returns a `503` error code from the backend if the search request times out, which happens on larger records or if OECI is being slow. Eliminating this problem will be awesome but is a different and larger issue. An immediate improvement we can make is by just making this error more informative to the user.

This message can be shown whenever the frontend receives a `503`. It can note that

[2020-01-15 02:41] hmarcks commented on #719
<img width="1043" alt="Screen Shot 2020-01-14 at 8 40 36 PM" src="https://user-images.githubusercontent.com/6887982/72400231-3961c500-370e-11ea-8d1d-bb0a6af64d59.png">

[2020-01-15 20:07] wittejm opened #724 "Handle the backend portion of #722"
See description for #722

[2020-01-15 22:14] wittejm opened #725 "Eliminate the risk of timeout error from Heroku"
Maybe replace our web platform, maybe batch-yield search results

[2020-01-15 22:18] wittejm opened #726 "Add the middle name search field to frontend"
And include it in the endpoint call. Endpoint code already handles it as an optional field.

[2020-01-16 01:20] wittejm opened #727 ""Arrested" date field on a charge should say "Charged""
Or, "Date charged:"

A Parking Ticket currently has a "Arrested: [date]" which is comical and no good.

Calling it just the date Charged is more strictly true to OECI.

[2020-01-16 03:28] wittejm opened #728 "Add helpful tip to OECI login page"
As a bandaid but super quick solution to #711:
Add a line below the OECI panel: "if you have login trouble, go [here] "
which is just a link to the https version.

[2020-01-16 08:42] m-murasovs commented on #727
Hi, I'd like to do this one :)

[2020-01-16 16:56] wittejm commented on #727
Great! I think the file that needs to be changed is this one: https://github.com/codeforpdx/recordexpungPDX/blob/master/src/frontend/src/components/Charge/index.tsx

[2020-01-17 04:42] hmarcks opened #731 "Integrate user / account functionality"
![69019529-a78c4480-0976-11ea-853d-4c69937e0deb](https://user-images.githubusercontent.com/6887982/72584874-584c8c80-38b1-11ea-81a7-c0097f73f862.png)

Accessible validation technique: https://www.w3.org/WAI/WCAG21/Techniques/aria/ARIA19

### This task is done when:
 - Add users / accounts if you're an Admin
- Edit other account if you're an Admin
- View a list of all users if you're an Admin
- Edi

[2020-01-17 23:16] keppel2 commented on #728
I took #711 which should take care of this.

[2020-01-18 00:24] wittejm commented on #722
Whoever works on the frontend portion of this will need to sync with any changes reflected in #724

[2020-01-18 02:45] wittejm commented on #727
closed with #730

[2020-01-18 02:45] #727 closed

[2020-01-18 03:51] keppel2 opened #737 "Most makefile targets fail if a file with the same name exists"
In project root:
[code]
`make` is one of the oldest UNIX tools, and is a bit crusty. Usually this is added to the `.PHONY` target, but there may be a way to avoid repeating the targets here.

[2020-01-18 04:07] wittejm opened #738 "Improve the verbiage on the unrecognized disp error banner"
The language "Case [case-number]: Deferred has a charge with an unrecognized disposition. ..." is awkward.

Rewrite this to: Case [case-number] has a charge with an unrecognized disposition ("Deferred"). ...

Task complexity estimate: 1/4

[2020-01-18 07:27] keppel2 commented on #737
I suppose not beginner friendly, but it's something I'd like to mentor someone on who wants to learn old-school Makefiles. That's why I didn't self-assign.

[2020-01-18 07:31] keppel2 commented on #737
Most modern build systems like `ant`, `maven`, and `gradle` shouldn't have this problem by default. Not necessarily a reason to switch.

[2020-01-18 17:51] ForrestLonganecker opened #739 "How to use the Project Board: Read this before contributing"
## There are two different ratings systems to think about before choosing an issue to work on:

### Complexity:

* 1 - Simple tasks, do not take much time to complete. A good starting point.
![image](https://user-images.githubusercontent.com/42503418/72772081-e5e0f280-3bb7-11ea-8d29-a343cf8827e3.png)

* 2 - Slightly more complex, may take more effort and some additional research.
![image](https://

[2020-01-18 18:09] wittejm commented on #387
closed with #716

[2020-01-18 18:09] #387 closed

[2020-01-18 18:21] ForrestLonganecker commented on #711
Helpful links:
https://medium.com/@ethanryan/making-your-custom-name-heroku-hosted-react-app-ssl-certified-f9c7fece699c
https://www.npmjs.com/package/react-https-redirect

[2020-01-18 18:45] wittejm commented on #650
@ForrestLonganecker What do you think is the best approach to keep the version/ date updated dynamically?

[2020-01-18 19:00] ForrestLonganecker commented on #650
I would most likely scrape the `repo/releases` page for "Version ## - released this time ago" and then generate a component based off of that returned information.

@hmarcks would you have input on how the design of this feature would look?

We would most likely want to include:
- version number
- date/time of release
- link to the release page
- As well as expected periodic "down time"

from: htt

[2020-01-18 19:01] wittejm commented on #638
I think the `readme.md` and `doc/` is the place to keep everything that's important to for getting started as a contributor.

Since there's unavoidably "useful" documentation that isn't essential reading for devs we should still have the wiki IMO. A sentence in the readme encouraging people to see the wiki for the useful-but-less-organized documentation is worthwhile.

Deleting the io page sounds

[2020-01-18 19:03] #64 closed

[2020-01-18 19:04] #358 closed

[2020-01-18 19:04] #260 closed

[2020-01-18 19:06] #99 closed

[2020-01-18 19:28] wittejm commented on #76
We've been creating enough new and low-complexity issues lately that I'm not sure we need to outline a task like this, but it's still a really cool idea if we do put something like this together.

[2020-01-18 21:16] wittejm commented on #725
@ForrestLonganecker I just realized you are a Cloud Professional In Training (tm) so let's talk about this! I discovered a limitation of the heroku postgres addon is that creating new database-access accounts is disallowed in the free version. We're outgrowing the cheap stuff and we may need to migrate sooner rather than later.

[2020-01-18 23:11] ForrestLonganecker commented on #650
@wittejm I just remembered that github has an api, I'm not sure if it will provide the information needed for this but we can take a look at it and see if it does:

https://developer.github.com/v3/repos/

[2020-01-18 23:14] ForrestLonganecker commented on #650
Here we go!

https://developer.github.com/v3/repos/releases/#get-the-latest-release

We would need to make the request via the back end to keep all  sensitive login data secure but could then provide the data to the frontend to populate a component.

[2020-01-19 01:08] ForrestLonganecker commented on #731
@KentShikama @wittejm Looking into how we are able to get user information about the currently logged in user for their account page, so they can then edit their information.

- How will we be able to do a `get_from_user_id` without returned `user_id` to begin with?

Would we have a separate endpoint called `account` that would return the user information that matches the decoded cookie that comes

[2020-01-19 01:12] ForrestLonganecker commented on #725
@wittejm I am unfamiliar with what you are talking about so lets talk about this more in person!

- Are we storing more than user log-in info in the db?

- What are database-access accounts and why do we need multiple?

I would be happy to look into this aided with more information when I have a chance!

[2020-01-19 01:23] ForrestLonganecker commented on #76
Would it be worthwhile to create a "contributers" page and have newcomers add their name(or nickname if anonymity is a concern), to it and the month they joined? It could be a small link in the footer that could link to a growing list of contributors, with the option of including a link to their github page or something like that.

This would have them change some frontend code and initiate a pr,

[2020-01-19 05:08] hmarcks commented on #726
The prototype now has a middle name field - the markup can be copied over from here: http://dev.huntermarcks.net/search

[2020-01-19 21:15] wittejm commented on #737
Thanks for finding this potential bug. I agree it looks like a good issue for a newer contributor to handle. I think `make` is still sufficient for our needs and using  `.PHONY` looks like the way to go for resolving this issue. For the scale of our project, I don't see a need to migrate our build system in the foreseeable future.

[2020-01-19 21:46] wittejm opened #743 "generative test in pytest (hypothesis) failed randomly for being too slow"
Running `dev_tes` I got this error. It includes an RNG seed to reproduce it. I reran `dev_test` without changing anything and it passed.

[code]

This might be worth acting on; @KentShikama what do you think?

[2020-01-19 22:14] wittejm commented on #731
The new approach for a user to get their own data is is that there's now a `/user` endpoint for the frontend to say "get my own user info" without providing a `user_id`, whereas the admin-protect  `/users` endpoint does provide `user_id`s can and use them to `get` or  `put` any user's data with /users/[user_id]`. The design doc is out of date for these endpoints, which we need to address separatel

[2020-01-19 22:21] wittejm commented on #725
Excellent questions. I actually jumped the gun on worrying about the heroku postgres features so I don't actually think we need to worry about that. I'm still interested in considering if we should migrate our web host because the 30-second timeout rule issue is a hard-coded feature of Heroku.

[2020-01-19 22:21] #711 closed

[2020-01-19 22:24] wittejm commented on #726
Awesome, thanks @hmarcks

[2020-01-19 22:26] wittejm commented on #728
made unnecessary with the superior fix #711 #740

[2020-01-19 22:26] #728 closed

[2020-01-19 22:44] KentShikama commented on #743
I would say we just increase the timeout here. I'll take care of this.

[2020-01-19 23:34] KentShikama commented on #731
Yeah providing an isAdmin flag on a successful endpoint response sounds good.

[2020-01-20 00:58] #655 closed

[2020-01-20 01:07] keppel2 commented on #555
It's fine to just clean them up occasionally like #693--it might be weird for beginners to see check-in test errors.

[2020-01-20 01:08] keppel2 commented on #737
All targets could be made phony with a `*`, and the redundant .PHONY targets removed.

[2020-01-20 15:45] m-murasovs commented on #636
Hi, I hope it's alright I assigned myself to this one :)

[2020-01-20 16:10] m-murasovs commented on #636
Is there a way of seeing what the 'record' is, so that I could compute the numbers? Thank you!

[2020-01-21 00:14] #680 closed

[2020-01-21 00:58] wittejm commented on #636
Yes, you're welcome to work on this issue. I think it was mislabeled and it's actually closer to Complexity 3, though, and our documentation/support for getting started to work on the record datas and expunger are not great. But for a few notes on how you would get the level info from the record data:

An example of the record data structure is here: https://github.com/codeforpdx/recordexpungPDX/b

[2020-01-21 01:04] wittejm commented on #636
In our test cases, especially the various [Factory](https://github.com/codeforpdx/recordexpungPDX/tree/master/src/backend/tests/factories) classes and the [charge classifier test cases](https://github.com/codeforpdx/recordexpungPDX/tree/master/src/backend/tests/models/charge_types) , you'll find examples of the string values of `level` that the app needs to handle for this feature.

If it looks to

[2020-01-21 03:51] ForrestLonganecker opened #746 "Connect "AddUser" component to the backend"
This task is done when:

* Admin user is able to create a new user by submitting a new user form to the back end.
* Form validates that the new user form contains:
  * Email
  * Password
* Non-Admins are unable to create a new user.
* Error messages match required fields

[2020-01-21 03:54] ForrestLonganecker opened #747 "Connect "EditUser" component to the backend"
This task is done when:

* Edit user form is populated with the selected user.
* Admin user is able to edit an exissting user by submitting an edit user form to the back end.
* Form validates that the edit user form contains updated content.
* Non-Admins are unable to edit user information.
* Error messages match required fields

[2020-01-21 04:00] ForrestLonganecker opened #748 "Return an "isAdmin" flag from successful login when the user is an admin"
This is done when:
* An `isAdmin` flag is returned from the backend when an admin user logs in

See discussion in #731

[2020-01-21 04:05] ForrestLonganecker opened #749 "Conditionally render "Admin" link in navbar"
This issue is done when:
* We keep track of user admin status in the front end.
* Render the `Admin` link when `isAdmin = true`.
* Upon an `unauthorized` response from an admin protected endpoint the variable is set back to `isAdmin = false`.

See discussion in #731

[2020-01-21 04:09] ForrestLonganecker opened #750 "Create a `/user` endpoint"
This is complete when:
* a `/user` endpoint is made in the backend that returns the user information for the user requesting information this will be used to populate the `Account` page.

See discussion in #731

[2020-01-21 04:17] hmarcks commented on #746
![account-flow](https://user-images.githubusercontent.com/6887982/72775070-96f48680-3bd2-11ea-8a1a-ea2bc733a1d6.png)

Accessible validation technique: https://www.w3.org/WAI/WCAG21/Techniques/aria/ARIA19

[2020-01-21 04:17] hmarcks commented on #747
![account-flow](https://user-images.githubusercontent.com/6887982/72775076-a4aa0c00-3bd2-11ea-84a9-93aa94a5407c.png)

Accessible validation technique: https://www.w3.org/WAI/WCAG21/Techniques/aria/ARIA19

[2020-01-21 16:43] wittejm commented on #750
This endpoint is already built, here: https://github.com/codeforpdx/recordexpungPDX/blob/e0ef348c439c50196d4761c711547073a11c7ec9/src/backend/expungeservice/endpoints/usersview.py#L176

[2020-01-21 19:27] #750 closed

[2020-01-21 22:39] wittejm commented on #699
References:
137.225 (7) (a) : "A conviction for a state or municipal traffic offense." [is ineligible]
137.225 (1) (b) Dismissals are eligible generally

Now I'm forgetting: why have we said in the past that traffic violation dismissals are ineligible?

[2020-01-21 23:07] wittejm commented on #631
Closed with #721

[2020-01-21 23:07] #631 closed

[2020-01-22 20:30] keppel2 opened #751 "Fix dev_test warning: invalid escape sequence \d"
[code]

[2020-01-22 20:59] #743 closed

[2020-01-22 22:27] aemrich opened #753 "Investigate Skip Analysis in Expunger"
Currently, we do not run time analysis on charges that have skip analysis as true, but this might not be the behavior we want.

[2020-01-22 22:35] aemrich opened #754 "Create Test for Parking Ticket"
Relative to issue https://github.com/codeforpdx/recordexpungPDX/issues/753

[2020-01-23 17:51] wittejm commented on #722
@hmarcks With the new middle name field added and the search params bumped out to two lines, I'm not sure what this new feature should look like. What do you think?

[2020-01-23 19:04] hmarcks commented on #722
@wittejm I've been meaning to create a design for this, I'll have one soon.

[2020-01-23 19:05] wittejm commented on #722
sounds good.

[2020-01-23 21:43] wittejm commented on #726
This is now pending a new design update to handle the feature request #722

[2020-01-23 21:44] wittejm commented on #718
closed with #755

[2020-01-23 21:44] #718 closed

[2020-01-24 01:15] wittejm commented on #738
completed with with #759

[2020-01-24 17:29] #748 closed

[2020-01-24 17:53] #738 closed

[2020-01-24 19:50] wittejm opened #760 "Classify Person Crimes more accurately"
Our current definition in the data model for a PersonCrime is only approximately correct. The actual definition is in section 14 of this page : https://secure.sos.state.or.us/oard/displayDivisionRules.action?selectedDivision=712

Also, the definition for Person Crime only applies for expungement in a rather specific rule:  Class B felonies that are also Person Crimes are ineligible (137.225(5)(a).

[2020-01-24 20:19] wittejm opened #761 "Parse the final disposition on each charge more reliably"
The final conviction/dismissal disposition for every charge on a case can be difficult to read properly from the OECI page.

Currently, we obtain the disposition "ruling" string from the "Disposition" and "Amended Disposition" events that are listed in the section of "Dispositions" on the case detail page (see #758 ). Of these events only the last one listed chronologically for each charge is save

[2020-01-24 21:56] wittejm opened #762 "Are there software tools we could benefit from that we'd want a paid version"
This is for considering potential upcoming costs for which we may get or want funding.

- a deployment platform other than Heroku? What are heroku's limitations? what are the costs and challenges of migration? See #725
- others?

[2020-01-24 22:13] wittejm opened #763 "Update the dev_mock_oeci_up for frontend testing"
The mock py files fell out of date.

[2020-01-24 23:14] wittejm opened #764 "Civil Offenses are a new charge type"
Civil offense dismissals are not eligible. Nontraffic violation convictions (which are a subset of Civil offenses) are eligible. Other kinds of civil offense convictions are not eligible.

The rules are:

- Dismissals are eligible only if they are "criminal" charges, meaning that dismissals for civil charges are ineligible by omission  (1)(b).
- Violation convictions are eligible (5)(e) except for

[2020-01-25 00:03] grbarker commented on #746
@ForrestLonganecker I wanted to take a go at adding form validation to the AddUser component. I was going to open a new issue for it. I wanted to clarify what the validation should do.

You mentioned that email and password need to be confirmed to exist. I spoke with @wittejm about the validation and he wanted to include the name field and a new confirm password field in the validation.

You also

[2020-01-25 00:04] #594 closed

[2020-01-25 00:05] #593 closed

[2020-01-25 00:10] keppel2 commented on #719
Closing to redo branch.

[2020-01-25 00:13] ForrestLonganecker commented on #746
Thanks for taking this on @grbarker!
Looking at the error messages here:
![image](https://user-images.githubusercontent.com/42503418/73112567-c1408f80-3ec3-11ea-9e0a-47fbee9b8bcc.png)
I think we would only need to add validation messages about password being required and the password/password confirmation needing to match. You can use the same error message format that is used elsewhere but just s

[2020-01-25 00:17] keppel2 commented on #719
I closed issue instead of pr, oops.

[2020-01-25 00:18] grbarker commented on #746
@wittejm wanted to validate that the password is 8 characters long so I put that in as well.

The email validation function catches an empty email and gives a "Invalid Email" alert. Do we want to explicitly say that it is missing like the other fields or just keep on going with the "Invalid Email" catch all alert?

[2020-01-25 00:21] ForrestLonganecker commented on #746
I feel `Invalid email address` should suffice for both: No email present, and incorrect format

[2020-01-25 00:25] #719 closed

[2020-01-25 00:26] grbarker commented on #746
I'll leave the email validation alone then.
Just to make 100% sure I we are on the same page, are you wanting the validation in the screenshot as well as as the validation of email and password?

[2020-01-25 02:17] wittejm commented on #762
Not really a good fit as a  git issue. Heroku vs another platform concern is addressed in #725

[2020-01-25 02:17] #762 closed

[2020-01-25 02:55] wittejm opened #768 "The Friendly Rule shouldn't apply if the conviction is type-ineligible"
In the reported bug, a case has a convicted DUII charge and another dismissed charge. The DUII conviction is labeled time-eligible, so the Friendly Rule  (namely: if a case has a single convicted charge, the dismissed charges on the same case become eligible when the conviction becomes eligible) gets applied and it adjusts the dismissed charges to also be time-eligible. The current logic does not

[2020-01-25 17:02] ForrestLonganecker commented on #746
Yes please!

[2020-01-25 17:09] ForrestLonganecker commented on #650
We should also include information on OECI's scheduled down time which occurs every 4th weekend of every month.

[2020-01-26 05:50] hmarcks commented on #722
@wittejm what do you think of something simple like this?

![multiple-searches](https://user-images.githubusercontent.com/6887982/73131262-832f9280-3fcd-11ea-9ed0-229539304a21.png)

[2020-01-26 15:40] m-murasovs commented on #636
Hi, sorry for the long absence. I'll switch to a different issue I think, as this looks beyond my backend capabilities for now. Cheers!

[2020-01-26 21:17] wittejm commented on #636
Sounds good!

[2020-01-26 21:40] wittejm commented on #722
This looks really good, though I was thinking of a slightly simpler flow for now especially since we want to get this feature into the March milestone release. What I had in mind was to optionally put in extra sets of search params when beginning the search, and still run it in one  button click. If someone searches once and wants to add results from another search, they would just have to put in

[2020-01-26 22:34] hmarcks commented on #722
Ah got it, I’ll post a design with this approach soon

[2020-01-27 22:03] KentShikama commented on #768
@aemrich Looks like you were assigned to this issue. I didn't mean to steal it but I was working on https://github.com/codeforpdx/recordexpungPDX/issues/753 and I realized I had completed most of this issue as a side-effect (and thus the PR https://github.com/codeforpdx/recordexpungPDX/pull/771).

[2020-01-27 23:25] aemrich commented on #768
@KentShikama  Ah no worries, thanks for the heads up

[2020-01-28 03:35] hmarcks commented on #722
@wittejm how about this? Adding individual fields is cleaner anyway, although it adds more buttons:
![multiple-searches-v2](https://user-images.githubusercontent.com/6887982/73233712-f6abde00-414c-11ea-9858-abd06966b3a1.png)

[2020-01-28 03:36] hmarcks commented on #722
Also, do you know if Date of Birth would ever be needed? Seems very unlikely to me.

[2020-01-28 17:52] michaelzhang43 commented on #722
I would prefer a combination of the two general methods already suggested: to have one button that is always available (without running a first search) that adds the option to combine results with a subsequent search

[2020-01-28 17:54] michaelzhang43 commented on #722
It's unpredictable what kinds of errors a person's online records will have. So for Michael Zhang 5/9/1993, aka Michael Pineapple I might search all of these:
M* Zha* 5/9/1993
Michael Zhang
Michael Pin* 5/9/1993
Michael Pineapple

[2020-01-29 04:49] hmarcks commented on #722
@michaelzhang43 After you perform a search, I believe the fields retain their values, so you could easily modify them if you wanted to adjust on a subsequent search.

To get specific combinations, I suppose we'd need to duplicate all the fields. How's this?

![multiple-searches-v3](https://user-images.githubusercontent.com/6887982/73328714-64750a00-4220-11ea-9e21-ff2ab7da4385.png)

[2020-01-29 04:51] michaelzhang43 commented on #722
That looks perfect, Hunter

[2020-01-30 03:32] nickbeaird opened #779 "Modify date will be eligible field in time eligibility to always set date"
Currently we set the date_will_be_eligible field to None if the date is in the past, but we should leave the value as computed. We should likely change the name of the field itself. (Nick working with Kent)

[2020-01-30 04:29] keppel2 opened #780 "Fix monetary formatting for search page to match summary"
On the search page, the case component displays the balance in plain numbers (0, for example). It needs to match what is on the static design as well as the format in the summary ($1.23).

[2020-01-30 04:54] ARodriguezHacks commented on #749
cc @JuanCaicedo

[2020-01-30 18:09] JuanCaicedo commented on #749
@ForrestLonganecker a couple questions for you 😀

1. @ARodriguezHacks and I noticed that the `Search` nav bar link leads to an error if  you are not authorized (which we took to mean if the user is not an admin?). Should we hide that link for non-admins as well?

2. This ticket only mentions hiding the link, but we were thinking that the admin route would still be accessible if you type it directl

[2020-01-30 18:52] ForrestLonganecker commented on #749
Thanks for reaching out @JuanCaicedo & @ARodriguezHacks!

1. The `Search` link is watching for the `OECI` authentication so it is currently acting the way that it should. There will be two different types of users at this point: `admin` or `search` everyone can search, but only `admins` can create new users or edit existing users. Thank you for clarifying this behavior!

2. Adding a redirect at th

[2020-01-30 19:30] ForrestLonganecker commented on #749
There is also a little more information/discussion in issue #731

[2020-02-03 15:35] hmarcks commented on #722
For whoever will pick this up, I added some markup for the integration work here: #789

Also, here is an updated mockup:
![multiple-searches-v3](https://user-images.githubusercontent.com/6887982/73666511-8b8c6b00-4668-11ea-91a7-71c3bf9eb3cf.png)

[2020-02-03 15:38] hmarcks commented on #726
The design is complete for #722 and HTML can be used in that #789 pull request.

[2020-02-03 19:00] wittejm commented on #726
Cool. @nickprender12 The middle name is added in that new PR, want to give that a look/review since you were working on the feature?

[2020-02-03 22:52] wittejm opened #790 "Rename Charge.skip_analysis() method to blocks_other_charges() (and flip bool value)"
### This task is done when:
 -
 -

[2020-02-04 01:05] #768 closed

[2020-02-04 01:11] #753 closed

[2020-02-04 01:27] #724 closed

[2020-02-04 06:28] #749 closed

[2020-02-04 19:58] wittejm commented on #780
I've also noticed that values over $1000 lack commas, so that can be added to all instances of balance values. This is worth abstracting to a function at this point for the different occurrences.

[2020-02-04 20:07] wittejm commented on #705
Completed with PR #758  ; issue #761 describes a further enhancement for this issue.